/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

	section.articles
	{
		height: auto;
		width: auto;
		margin: 4em;

		padding: 0;
		overflow: hidden;
	}

		section.articles > #article, #listing
		{
			background: purple;

			text-align: left;
		}

		section.articles > #article
		{
			height: 100em;
			width: 70%;

			float: left;
			margin-right: 2.5%;

			overflow: auto-scroll;
		}

		section.articles > #listing
		{
			width: 25%;
			
			float: right;

			margin-left: 2.5%;
			margin-bottom: 2em;
		}

			section.articles h2, section.menu h3,
			section.articles h4, section.menu h4,
			section.menu h5, section.articles p, section.menu p
			{
				color: #777777;
				margin: 0.5em em;
			}