/*********************************************************************************/
/* Sections                                                                      */
/*********************************************************************************/

    #sections-row
    {
        display: relative;
        width: 100%;
        padding: 0em;
        overflow: hidden;
    }
        #left-section, #right-section
        {
            height: 4em;
            min-width: 48%;

            text-align: center;
            margin: 1.5em 0em;

            transition: height 2s;
            background: #CCCCCC;
        }

            #sections-row > #left-section
            {
                float: left;
            }
            #sections-row > #right-section
            {
                float: right;
            }

                #left-section:hover, #right-section:hover
                {
                    height: 30em;
                }

            #left-section h4, #right-section h4
            {
                color: #777777;
                margin: .5em 0em;
            }

/*    a.rolldown
    {
        text-decoration: none;
        color: #777777;
    }
        a.rolldown:hover
        {
            color: red;
        }
        a.rolldown:focus
        {
            outline: 0;
        }*/

/*********************************************************************************/
/* Abilities                                                                     */
/*********************************************************************************/

    #abilities
    {
        height: auto;
        width: auto;
    }
    
        #abilities > header
        {
            width: 100%;

            font-size: 1.2em;
            text-align: left;
            text-shadow: 0 0 10px red;

            cursor: default;
            margin-bottom: 1.5em
        }

        #abilities-row
        {
            height: auto;
            width: auto;

            font-size: 1.5em;

            margin-left: 1.5em;
            overflow: hidden; / no-sense
        }

        #abilities-row > #section
        {
            margin:; 0.5em 0em;
        }

            #left-ability, #right-ability
            {
                font-size: 0.7em;

                width: 40%;

                cursor: default;
                transition: all 0.5s;

            }

            #left-ability
            {
                float: left;
                margin-right: 5%;
            }
            
            #right-ability
            {
                float: left;
                margin-left: 5%;
            }

                #left-ability:hover, #right-ability:hover
                {
                    text-shadow: 0 0 4px green;   
                }

            #title
            {
                float: left;
            }
            #rating
            {
                float: right;
            }



    #abilities a
    {
        color: #787878;
        pointer-events: none;
        cursor: default;
    }