/*********************************************************************************/
/* Sections                                                                      */
/*********************************************************************************/

    #main section > #sections-row
    {
        display: relative;
        width: 100%;
        padding: 0em;
        overflow: hidden;

    }
        #main section > #sections-row > #left, #right
        {
            height: 4em;
            min-width: 48%;

            text-align: center;
            margin: 1.5em 0em;

            transition: height 2s;
            background: #CCCCCC;
        }

            #main section #sections-row > #left
            {
                float: left;
            }
            #main section #sections-row > #right
            {
                float: right;
            }

                #main section #sections-row > #left:hover, #right:hover
                {
                    height: 30em;
                }

            #main section #sections-row > #left h4, #right h4
            {
                color: #777777;
                margin: .5em 0em;
            }

/*    a.rolldown
    {
        text-decoration: none;
        color: #777777;
    }
        a.rolldown:hover
        {
            color: red;
        }
        a.rolldown:focus
        {
            outline: 0;
        }*/

/*********************************************************************************/
/* Abilities                                                                     */
/*********************************************************************************/

    #abilities
    {

    }
    
        #abilities header
        {
            font-size: 2em;
            text-align: left;
            text-shadow: 0 0 10px red;

            margin: 0.3em;
            cursor: default;
        }

        #abilities ul
        {
            width: auto;
            height: 100px;
        }

            #abilities ul li
            {
                font-size: 0.7em;

                display: inline;
                float: left;
                width: 40%;
                margin: 1.5em;

                cursor: default;
                transition: all 0.5s;
            }
                #abilities ul li:hover
                {
                    text-shadow: 0 0 10px green;   
                }

                #abilities ul li > #title
                {
                    float: left;
                }

                /*the separator is defined by l/r margin of 5% in if condition of template*/

                #abilities ul li > #rating
                {
                    float: right;
                }

    #abilities a
    {
        color: #787878;
        pointer-events: none;
        cursor: default;
    }