{% extends parent %}

{% block content %}

    {% load staticfiles %}

    {% if "desktop" in parent %}
        <link rel="stylesheet" href="/static/frontend/css/desktop/articles.css">
    {% elif "mobile" in parent %}
        <link rel="stylesheet" href="/static/frontend/css/mobile/articles.css">
    {% endif %}

    <div id="main">
        <ul>
            <li>
                <header style="color: {% cycle '#E67451' '#E8A317' '#3B9C9C' '#F75D59' '#4CC552' as bgcolors %};">
                </header>
            </li>
            <li>
                <a href="https://gist.github.com/sevaivanov">
                    <div id="right" style="text-align: center;">
                        <p>Code Snippets & Notes</p>
                    </div>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <header style="color: {% cycle bgcolors %};">Research</header>
            </li>
            <li>
                <a href="/static/frontend/pdf/freenet-fr.pdf">
                    <div id="right"><p>PDF: Freenet (French)</p></div>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <header style="color: {% cycle bgcolors %};">Quests</header>
            </li>
            <li>
                <a href="/artcile/quests/archlinux-macbook#head">
                    <div id="right"><p>ArchLinux on MacBook</p></div>
                </a>
            </li>
            <li>
                <a href="/artcile/quests/django-website#head">
                    <div id="right"><p>Django Cloud Hosting</p></div>
                </a>
            </li>
            <li>
                <a href="https://raw.githubusercontent.com/sevaivanov/short/master/assembly/lmc/combine_two_ordered_lists.elmc">
                    <div id="right"><p>LMC: Self-Modifying Code</p></div>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <header style="color: {% cycle bgcolors %};">
                    Hack The Planet
                </header>
            </li>
            <li>
                <a href="/artcile/hacks/chroot#head">
                    <div id="right"><p>Chroot Escaping</p></div>
                </a>
            </li>
            <li>
                <a href="/artcile/hacks/sqli#head">
                    <div id="right"><p>SQL Injection</p></div>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <header style="color: {% cycle bgcolors %};">Short Topics</header>
            </li>
            <li>
                <a href="/artcile/short-topics/virtual_privacy#head">
                    <div id="right"><p>Virtual Privacy</p></div>
                </a>
            </li>
        </ul>
    </div>

{% endblock content %}
