{% extends parent %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{{ STATIC }}frontend/css/{{ version }}/home.css">

    {% if version == "mobile" %}<div id="main">{% endif %}

        <div id="entry" class="section">
            {% if version == "mobile" %}<header>Yours truly</header>{% endif %}
            <p>
                I am a human being,</br>an amazing student & a freelancer.</br>
                Art & minutiae are transparent in my projects.</br>
                Opensource is a reality & Linux is a choice.</br>
            </p>
        </div>
        {% if version == "desktop" %}<div id="main">{% endif %}

            <div id="cart" class="section">
                {% if version == "desktop" %}<hr></hr>{% endif %}
                <header>Computation Arts</header>
                {% if version == "desktop" %}<hr></hr>{% endif %}
                <a href="/project/cart/home/main/">
                    <div class="circle"></div>
                </a>
                <a href="/project/cart/home/main/"><p>
                    > Run explore
                </p></a>
            </div>

            <div id="coding" class="section">
                {% if version == "desktop" %}<hr></hr>{% endif %}
                <header>Projects</header>
                {% if version == "desktop" %}<hr></hr>{% endif %}
                <a href="/projects/#main">
                    <div class="circle"></div>
                </a>
                <a href="/projects/#main"><p>
                    > Run timeline
                </p></a>
            </div>
        
        <!-- /main -->
        {% if version == "desktop" %}</div>{% endif %}

{% endblock %}
