{% extends parent %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{{ STATIC }}frontend/css/{{ version }}/home.css">

    {% if "mobile" in parent %}
        <style type="text/css">
            #header:target ~ #main
            {
                margin-top: 26em;
            }
            #main
            {
                margin-top: 14em;

                -moz-transition: all 0.6s ease-in-out;
                -webkit-transition: all 0.6s ease-in-out;
                transition: all 0.6s ease-in-out;
                -o-transition: all 0.6s ease-in-out;
                -ms-transition: all 0.6s ease-in-out;
            }
        </style>
    {% endif %}

    {% if version == "mobile" %}<div id="main">{% endif %}

        <div id="entry" class="section">
            {% if version == "mobile" %}<header>Yours truly</header>{% endif %}
            <p>
                I am a human being,</br>an amazing student & a freelancer.</br>
                Art & minutiae are transparent in my projects.</br>
                Opensource is a reality & Linux is a choice.</br>
            </p>
        </div>
        {% if version == "desktop" %}<div id="main">{% endif %}

            <div id="cart" class="section">
                {% if version == "desktop" %}<hr></hr>{% endif %}
                <header>Computation Arts</header>
                {% if version == "desktop" %}<hr></hr>{% endif %}
                <a href="/project/cart/home/main/">
                    <div class="circle"></div>
                </a>
                <a href="/project/cart/home/main/"><p>
                    > Run explore
                </p></a>
            </div>

            <div id="coding" class="section">
                {% if version == "desktop" %}<hr></hr>{% endif %}
                <header>Projects</header>
                {% if version == "desktop" %}<hr></hr>{% endif %}
                <a href="/projects/#main">
                    <div class="circle"></div>
                </a>
                <a href="/projects/#main"><p>
                    > Run timeline
                </p></a>
            </div>

            <div id="abilities" class="section">
                {% if version == "desktop" %}<hr></hr>{% endif %}
                <header>Abilities</header>
                {% if version == "desktop" %}<hr></hr>{% endif %}
                {% for category in skills_categories %}
                    <div id="category">
                        <header>
                            {{ category|title }}
                        </header>
                        <div id="abilities-row">
                            {% load filters %}
                            {% for skill in skills|in_category:category %}

                                {% if forloop.counter|divisibleby:2 %}
                                <div id="right-ability">
                                {% else %} <!-- first -->
                                <div id="left-ability">
                                {% endif %}
                                    
                                    <div id="title">
                                        {{ skill.title }}
                                    </div>
                                    <div id="rating">
                                        {% load filters %}
                                        {% for i in 5|times %}
                                            {% if i < skill.rating_on_five %}
                                                ★
                                            {% else %}
                                                ☆
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% if version == "mobile" %}</br></br></br></br></br>{% endif %}
            </div>

        <!-- /main -->
        {% if version == "desktop" %}</div>{% endif %}

{% endblock %}
