
#container #thoughts
{
    position: absolute;
    height: 85%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

    #thoughts div[id*=thought-]
    {
        position: absolute;
        max-width: 100px;
        max-height: 100px;
        left: 0;
        top: 0;
        border-radius: 50%;
        overflow: hidden;
        padding: 1.5em;
        opacity: 0.9;
    }
        #thoughts div[id*=thought-]:hover
        {
            z-index: 2;
            opacity: 0.95;
            box-shadow: 0 0 20px 10px white;
        }

        div[id*=thought-] p
        {
            font-size: 11pt;
        }
