/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	section
	{
		height: auto;
		width: auto;
		margin: 4em;

		padding: 0;
		overflow: hidden;
	}

		section > #article, #listing
		{
			background: #282828;
			text-align: left;
		}

/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

		section > #article
		{
			height: 100em;
			width: 70%;

			float: left;
			margin: 1em 1.5% 1em 0.5%;

			overflow: auto;
			transition: box-shadow 1.5s;
		}
			section > #article:hover
			{
				box-shadow: 0 0 10px white;
			}

			#article > h1.header 
			{
				font-size: 3em;
				margin: 1em 5% 0em;
			}

			#article > p.subtitle
			{
				font-size: 1.5em;
				line-height: 5em;
				color: #777777;
				margin: 0em 5% 0em;
			}

			#article > p.footer
			{
				margin: 6em 6% 3em; 
			}

			#article > h2, #article > h3, #article > h4,
			#article > h5, #article > h6, #article > ol
			{
				margin: 2em 5% 1em;
			}

			#article > h2 { font-size: 2em; }

			#article > p 
			{
				font-size: 1em;
				text-align: justify;
				margin: 1.5em 5.3%;
			}

			#article > pre
			{
				padding: 1em;
				overflow: auto;
				background: #565051;
				box-shadow: 0 0 4px white;
				margin: 0em 5%;
			}

				#article > pre > code
				{
					margin: 0em 1em 0em;
				}

			#article > ol li > p,
			#article > ol li > pre
			{
				margin: 1.5em 0em;
			}

/*********************************************************************************/
/* Listing                                                                       */
/*********************************************************************************/

		section > #listing
		{
			width: 25%;
			float: right;
			margin: 1em 0.8% 2em 0em;
		}

			#listing > ul.default
			{
				padding-bottom: 0em;
			}

				#listing > ul.default > li.default
				{
					transition: box-shadow 1s;
				}
					#listing > ul.default > li.default:first-child:hover
					{
						box-shadow: none;
					}
					#listing > ul.default > li.default:hover
					{
						box-shadow: 0 0 10px white;
					}

			#listing header
			{
				font-size: 1.4em;
				margin: 0.8em 0.9em 0.5em;
			}

			#listing a
			{
				display: block;
				width: 100%;
				height: 100%;
				
				font-size: 1em;
				color: #B6B6B4;
				text-shadow: none;

				margin: 0em 1.4em;
			}
