	section.articles
	{
		height: auto;
		width: auto;
		margin: 4em;

		padding: 0;
		overflow: hidden;
	}

		section.articles > #article, #listing
		{
			background: #282828;
			text-align: left;
		}

		section.articles > #article
		{
			height: 100em;
			width: 70%;

			float: left;
			margin: 1em 1.5% 1em 0.5%;

			overflow: auto;
			transition: box-shadow 1.5s;
		}

			section.articles > #article:hover
			{
				box-shadow: 0 0 10px white;
			}

			#article h1
			{
				font-size: 3em;
				margin: 1em 1.2em 0em;
			}

			#article p.subtitle
			{
				font-size: 1.5em;
				color: #777777;
				margin: 0em 2.6em;
				line-height: 5em;
			}

			#article p
			{
				font-size: 1em;
				margin: 1.2em 4em;
			}

		section.articles > #listing
		{
			width: 25%;
			float: right;
			margin: 1em 0.8% 2em 0em;
		}

			ul.default
			{
				padding-bottom: 0em;
			}

				li.default
				{
					transition: box-shadow 1.5s;
				}

					li.default:first-child:hover
					{
						box-shadow: none;
					}

					li.default:hover
					{
						box-shadow: 0 0 10px white;
					}

			#listing header
			{
				font-size: 1.4em;
				margin: 0.8em 0.9em 0.5em;
			}

			#listing a
			{
				display: block;
				width: 100%;
				height: 100%;
				
				font-size: 0.8em;
				color: #B6B6B4;

				margin: 0em 1.4em;
			}

				#listing a:hover
				{
					text-shadow: none;
				}
