/*********************************************************************************/
/* Sections                                                                      */
/*********************************************************************************/

    #sections-row
    {
        display: relative;
        width: 100%;
        padding: 0em;
        overflow: hidden;
    }
        #left-section, #right-section
        {
            height: 4em;
            width: 48%;

            text-align: center;
            margin: 1.5em 0em;
            overflow: hidden;

            transition: height 1.8s;
            background: #CCCCCC;
        }

            #sections-row > #left-section
            {
                float: left;
            }
            #sections-row > #right-section
            {
                float: right;
            }

                #left-section:hover, #right-section:hover
                {
                    height: 28em;
                }

            #left-section h4, #right-section h4
            {
                color: #777777;
                margin: 0.5em 0em 0.7em;
            }

            #left-section p, #right-section p
            {
                text-align: justify;
                color: #494949;
                padding: 0.5em 1.5em;
            }

                #sections-row p > a
                {
                    text-decoration: none;
                    color: black;
                }

                    #sections-row p > a:hover
                    {
                        text-shadow: 0 0 2px black;
                    }

                    #sections-row p > a.rolldown:focus
                    {
                        outline: 0;
                    }

/*********************************************************************************/
/* Abilities                                                                     */
/*********************************************************************************/

    #abilities
    {
        height: auto;
        width: auto;
        margin-left: 3em;
    }

        #main section > header
        {
            width: 100%;
            margin: 1em 0em 1em;
        }

        #main section > hr.head
        {
            margin-top: 15em;
            padding-top: 0em;
        }

        #main section > hr.tail
        {
            margin-top: 0em;
            padding-top: 0em;
        }

            #abilities > header
            {
                width: 100%;

                font-size: 1.2em;
                text-align: left;
                color: #FDEEF4;

                cursor: default;
                margin-bottom: 1.5em
            }

            #abilities-row
            {
                height: auto;
                width: auto;

                font-size: 1.5em;

                margin-left: 1.5em;
                overflow: hidden; /no-sense
            }

                #left-ability, #right-ability
                {
                    font-size: 0.7em;

                    width: 40%;
                    color: #B9AFA8;

                    cursor: default;
                    transition: all 0.5s;

                }

                #left-ability
                {
                    float: left;
                    margin-right: 5%;
                }
                
                #right-ability
                {
                    float: left;
                    margin-left: 5%;
                }

                    #left-ability:hover, #right-ability:hover
                    {
                        text-shadow: 0 0 10px white;   
                    }

                #title
                {
                    float: left;
                }
                #rating
                {
                    float: right;
                }
