    html, body
    {
        height: 100%;
        width: auto;

        margin: 0px;
        padding: 0px;

        overflow:  hidden;
        background: black;
    }

    a:focus
    {
        outline: 0;
    }

        #details
        {
            position: absolute;
            height: 100%;
            width: 0.5%;

            left: 0;
            z-index: 20;

            color: white;
            box-shadow: 0 0 10px white;
            background: #0A0A0A;

            overflow: hidden;

            transition: all 1.5s;
        }
            #details:hover
            {
                width: 20%;
                box-shadow: 0 0 20px white;
            }

            #details ul
            {
                list-style: none;
                margin-top: 2em;
            }

                #details ul > li
                {
                    min-width: 13em;
                    max-width: 85%;
                    margin: 1em 0em;

                    transition: text-shadow 0.5s;
                }
                    #details ul > li:hover
                    {
                        text-shadow: 0 0 8px white;
                    }

        #return
        {
            position: absolute;

            width: 4em;
            height: 4em;
            border-radius: 5em;

            top: 0;
            right: 0;
            z-index: 20;

            margin: 0.4em;
            overflow: hidden;

            box-shadow: 0 0 1px white;
            transition: all 1s;
        }
            #return:hover
            {
                 background: rgba(255, 255, 255, 0.5);
            }

            #return img
            {
                height: 100%;
                width: 100%;
                
                border-radius: 4em;

                transition: all 1s;
            }


        #slideshow
        {
            position: absolute;
            height: 100%;
            width: 100%;

            float: right;

            overflow:  hidden;
            background: #282828;
        }

            ul.slider
            {
                height: 100%;
                width: auto;

                list-style: none;

                margin: 0em;
                padding: 0px;
            }

                ul.slider li.slides
                {
                    position: relative;
                    height: 100%;
                    width: 100%;

                    margin: 0em;
                    padding: 0em;

                    background: #0A0A0A;
                }

                    div[id*="container"]
                    {
                        position: relative;
                        height: 100%;
                        width: 100%;

                        float: left;
                        overflow: hidden;
                        display: none;
                    }

                        div[id*="slide-"]
                        {
                            float: right;
                            background: #0A0A0A;
                        }

                            div[id*="slide-"] > img
                            {
                                position: absolute;
                                display: block;

                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                margin: auto;

                                max-height: 100%;
                                max-width: 100%;

                                opacity: 0;
                                transform: scale(0.5);
                                
                                transition: all 1s;
                            }

            ul.slider li.track
            {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.5);

                height: auto;
                width: 100%;
                left: 1px;
                bottom: 0;
                z-index: 20;

                text-align: center;
            }

                ul.slider li.track a
                {
                    display:inline-block;
                    height: 1em;
                    width: 1em;
                    border-radius: 1em;

                    background-color: black;
                    box-shadow: 0 0 1px white;
                    text-decoration: none;

                    margin: 0.5em;
                    transition: box-shadow 1s;
                }
                    ul.slider li.track a:hover
                    {
                        box-shadow: 0 0 5px white;
                    }
