	body
	{
		height: 100%;
		background: #E8E8E6;
	}

		#header, #tweet, #main
		{
			margin: 0em;
		}

		#main
		{
			width: auto;
			background: white;
		}

			#videos
			{
				height: auto;
				width: auto;
			}

				#videos section
				{
					height: auto;
					width: 100%;

					background: #282828;
					border-top: solid 1px #ddd;
					text-align: left;

					margin: 0em;
					padding: 3em 0em;
				}


					#videos section > header
					{
						font-size: 2.5em;
						margin-top: 0em;

						width: 75%;
						margin-left: 12.5%;
					}

					#videos section > hr
					{
						border-top: solid 1px #777777;
						
						width: 50%;
						margin-left: 25%;

 					}

 					#videos section > #container
 					{
 						margin: 4em 2% 4em 4%;
 					}
 						/*tmp*/
						#videos section #container > video{
							height: 20em;
							width: 30%;
							margin: 1% 1%;
						}

						#videos section #container > #wrapper
						{
							height: 20em;
							width: 30%;
							margin: 1% 1%;
							overflow: hidden;
							background: white;
						}

							#videos section #container #wrapper > video
							{
								position: absolute;
								height: 20em;
								width: 28.2%;
								z-index: 1;
								margin: 0;
							}

							#videos section #container #wrapper > #details
							{
								position: absolute;
								height: 1em;
								width: 28.2%;

								margin: 0;
								z-index: 2;
								opacity: 0.2;
								overflow: hidden;

								background: black;
								box-shadow: 0 0 10px black;

								transition: all 1.5s;
							}
								#videos section #container #wrapper > #details:hover
								{
									height: 14em;
									opacity: 0.9;
									box-shadow: 0 0 10px;
								}
