<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="CART 211 Assignments">
        <meta name="author" content="Seva Ivanov">

        {% load static %}
        {% get_static_prefix as STATIC %}

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/listing-wo-header-{{ version }}-black.css" />
    </head>
    <body>
        <div id="main">
            <!-- Nice colors: E67451 E8A317 3B9C9C F75D59 4CC552 -->
            <ul>
                <li>
                    <header style="color: #E8A317">Assignments</header>
                </li>
                <li>
                    <a href="/project/cart/ttspace/light/">
                        <div id="right"><p>Thoughts Through Space</p></div>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <header style="color: #3B9C9C;">Readings</header>
                </li>
                <li>
                    <a href="/project/cart/211/readings/">
                        <div id="right"><p>Caroline A. Jones, The Mediated Sensorium</p></div>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
