{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 211 Assignments">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/listing-wo-header-{{ version }}-black.css" />
    </head>
    <body>
        <div id="main">
            <!-- Nice colors: E67451 E8A317 3B9C9C F75D59 4CC552 -->
            <ul>
                <li>
                    <header style="color: #E67451">Projects</header>
                </li>
                <li>
                    <a href="/project/cart/211/moodboard/">
                        <div id="right"><p>Mood Board : Matrix</p></div>
                    </a>
                </li>
                <li>
                    <a href="http://nameatree.org">
                        <div id="right"><p>Name A Tree</p></div>
                    </a>
                </li>
                <li>
                    <a href="https://sevaivanov.github.io/lindenmayer/">
                        <div id="right"><p>Lindenmayer Systems</p></div>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <header style="color: #E8A317">Assignments</header>
                </li>
                <li>
                    <a href="/static/projects/cart/pdf/cart211-honeypot-v1.pdf">
                        <div id="right"><p>Honepot : Internet of Things</p></div>
                    </a>
                </li>
                <li>
                    <a href="/project/cart/211/net_art/">
                        <div id="right"><p>Net.Art Generator</p></div>
                    </a>
                </li>
                <li>
                    <a href="/project/cart/ttspace/heavy/">
                        <div id="right"><p>Thoughts Through Space</p></div>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <header style="color: #3B9C9C;">Readings</header>
                </li>
                <li>
                    <a href="/project/cart/211/readings/#db_media">
                        <div id="right"><p>Lev Manovich, Database as a Genre of New Media</p></div>
                    </a>
                </li>
                <li>
                    <a href="/project/cart/211/readings/#big_data">
                        <div id="right"><p>Big Data: How it is changing the world</p></div>
                    </a>
                </li>
                <li>
                    <a href="/project/cart/211/readings/#net-art_ten-myths">
                        <div id="right"><p>Ten Myths of Internet Art</p></div>
                    </a>
                </li>
                <li>
                    <a href="/project/cart/211/readings/#net_art">
                        <div id="right"><p>Rachel Greene, Internet Art</p></div>
                    </a>
                </li>
                <li>
                    <a href="/project/cart/211/readings/#sensorium">
                        <div id="right"><p>Caroline A. Jones, The Mediated Sensorium</p></div>
                    </a>
                </li>
            </ul>
        </div>
    </body>
{% endblock %}
