{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 211 Mood Board">

        <script src="{{ STATIC }}projects/libs/jquery-1.9.1.min.js"></script>
        <script src="{{ STATIC }}projects/libs/jquery.mousewheel.min.js"></script>
        <script src="{{ STATIC }}projects/cart/moodboard/matrix.js" async></script>

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}projects/cart/moodboard/moodboard.css"/>
        <style type="text/css">
            #main
            {
                /* TODO improve: right arrow needs that */
                width: {{ files|length }}00%;
            }
        </style>

        <script>
            $(document).ready(function()
            {
                // overwriting the vertical scroll
                $('html, body, *').mousewheel(function(e, delta){
                    this.scrollLeft -= (delta * 40);
                    e.preventDefault();
                });

                $('#right-arrow').on('click', function(event){
                    event.preventDefault();
                    $('html, body, #right-arrow').animate({
                        scrollLeft: $(document).scrollLeft() + 1000
                    }, 500);
                });

                $('#left-arrow').on('click', function(event){
                    event.preventDefault();
                    $('html, body, #left-arrow').animate({
                        scrollLeft: $(document).scrollLeft() - 1000
                    }, 500);
                });

                var audioUrl = '{{ STATIC }}projects/cart/moodboard/background.mp3',
                    audio = document.createElement('audio');
                    audio.setAttribute('src', audioUrl);
                    audio.setAttribute('id', 'background-music');
                    audio.setAttribute('autoplay', 'autoplay');
                    audio.volume = 0.1;
            });
        </script>
    </head>
    <body>
        <div id="main" class="fullscreen">
            <canvas id="matrix-cover"></canvas>
            <div class="wrapper">
                {% for file in files %}
                    {% load filters %}
                    {% with forloop.counter|add:-1|forty_times as left_shift %}

                    {% with STATIC|add:"projects/cart/moodboard/images/data/"|add:file.filename as filepath %}

                        {% if file.is_video %}
                            <video controls style="left:{{ left_shift }}em;">
                                <source src="{{ filepath }}" type="video/webm">
                                Your browser does not support the video tag.
                            </video>
                        {% else %}
                            <a href="{{ filepath }}"><img src="{{ filepath }}" style="left:{{ left_shift }}em; top:{{ file.top_shift }}em;"></img></a>
                        {% endif %}

                    {% endwith%}
                    {% endwith %}
                {% endfor %}
            </div>
            <a id="right-arrow" class="shift" href="#right" style="right:5%">
                <img src="{{ STATIC }}projects/cart/moodboard/images/content/right-double-arrow-sharp.png" style="right:5%"></img>
            </a>
            <a id="left-arrow" class="shift" href="#left" style="left:2%">
                <img src="{{ STATIC }}projects/cart/moodboard/images/content/left-double-arrow-sharp.png" style="left:2%"></img>
            </a>
        </div>
    </body>
{% endblock %}