{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 211 Readings">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-black.css" />
    </head>
    <body>
        <div id="main">
            <p class="header" id="net-art_ten-myths"><a href="http://hybrid.concordia.ca/bizounoir/CART_211/pdf/Ippolito_Myth_Internet_Art.pdf">Ten Myths of Internet Art</a></p>
            <p>

            1. The Internet is a medium for delivering miniature forms of other art mediums.</br></br>

            Going to places like äda'web, which are basically art pieces of their own, constitute counter arguments to folks that state this myth is veridic. I think it is more complicated to understand the distinction between that and a net art piece.</br></br>

            2. Internet art is appreciated only by an arcane sub-culture.</br></br>

            It is quite interesting to make a comparison between the amount of the classic Museums visitors and the Internet surfers.</br></br>

            3. To make Internet art requires expensive equipment and special training.</br></br>

            4. Internet art contributes to the “digital divide."</br></br>

            Generally speaking, it is actually eliminating country imposed frontiers and creating a cyberspace for everyone to play and gain visibility in at minimal costs.</br></br>

            5. Internet art = Web art.</br></br>

            Internet is a very large term considering that there are thousands of <a href="https://en.wikipedia.org/wiki/OSI_model">protocols</a> that were and can be possibly used to create different forms of Internet art.</br></br>

            6. Internet art is a form of Web design.</br></br>

            This is a very interesting myth. I could not have said it better, so here is an author’s quote:

            "<i>The distinction between the two does not lie in differences in subject matter or context as much as in the fact that design serves recognized objectives, while art creates its objectives in the act of accomplishing them.</i>"

            In order to qualify it as an Internet art project, it must go beyond visual appeal. It can and should use Design techniques but Design is not sufficient by itself.</br></br>

            7. Internet art is a form of technological innovation.</br></br>

            A technological innovation is often a tool that has a certain idea behind, a purpose of usage, whereas creating Internet art often involves peeling off its ideological wrapper to explore the unexplored.</br></br>

            8. Internet art is impossible to collect.</br></br>

            "<i><a href="http://www.guggenheim.org/">Guggenheim</a> compiles data for each artist on how the artwork is to be translated into new mediums once its original hardware and software are obsolete.</i>"</br></br>

            9. Internet art will never be important because you can't sell a Web site.</br></br>

            The mainstream media often buys the artist's ideas in order to monetize them at a broad scale.</br></br>

            10. Looking at Internet art is a solitary experience</br></br>

            Mark Napier <a href="http://www.guggenheim.org/new-york/collections/collection-online/artwork/10703">net.flag</a> uses the views interaction as well as their traces to integrate them into their art. There are artists who use the effects of a self-modifying art piece to reflect a mutation of a work over time and generations to come.
            </p>

            <p class="header" id="net_art"><a href="http://hybrid.concordia.ca/bizounoir/CART_211/pdf/Greene_Internet_Art.pdf">Rachel Greene, Internet Art</a></p>
            <p>
                Rachel Greene is telling the tales of Internet Artists by unfolding their real identity in parallel to a chronological history of the computers, Internet and relation between virtual and physical art. She summarizes the history of computers as well as Internet's by reminding us of the introduction of the clickable icons by The Mac company which popularized the desktop interface over the command line as well as the introduction of the mouse. Afterwards, she describes the frenetic excitement that was brought on humans after the first days of Internet.</br></br>

                In its early era, the Internet Art was wrongly associated with the cosmopolitan art business, which thrives in cultural capitals as New York and London. The Internet Art is more of an opposition to the imposed boundaries of the world galleries and museums that were judging it as more commercial with a design-like form.</br></br>

                A Net Artist is not someone who is using commercial tools for industrial design but an individual that is using Free Software that often builds its own to create unique pieces with a certain message it. They are those who popularized the Cyber related terms as in Cyber Space, a place of meeting often located on IRCs (Internet Relay Chat) servers. They are seen as Hackers in an authentic way. The term Hacker is often related to illegal activities whereas the real term Hacker comes originally from MIT as a prestige title for someone who excels in a certain domain by challenging the conventional way of thinking. She draws a clear line between the industrial artists and the Net Artists that are characterized by making art that is involved with actual politics, economy and artists' social concerns. She explores different artists and their works to illustrate the real Internet Art.</br></br>

                <i>Few of these artists:</i></br></br>

                • This interesting piece was made by Alexei Shulgin in 1997 who goes by the name of <a href="http://www.c3.hu/collection/form/">Form Art</a>. The purpose of this is to click on buttons that redirect to other pages made with trivial HTML elements to create a visually unique experience. It illustrates how to do more with less while capturing the first Internet days trend.</br></br>

                • <a href="http://adaweb.walkerart.org/project/holzer/cgi/pcb.cgi?change">Another presented work</a> was developed by Ada's web. It gives users the possibility to interact with this art piece by submitting a new belief from a selected truism. It is very interesting because it creates a self-modifying art piece which would impossible to produce using traditional ways.</br></br>

                In conclusion, she reminds us of the <i>Telepresence</i> term which designates an individual who is procuring themselves a sensation or a feeling of being somewhere else by using virtual technologies. This brings a whole new dimension to the segmentation of a virtual and physical reality and opens a recursive debate on what is the real definition of a physical reality.
            </p>
            <p class="header" id="sensorium"><a href="http://hybrid.concordia.ca/bizounoir/CART_211/pdf/Jones_Sensorium.pdf">Caroline A. Jones, The Mediated Sensorium</a></p>
            <p>
                A sensorium is a combination of auditory, olfactory & tactile experiences in which the goal is to alter the senses to create a new sensory envelope of the self. It is interesting to imagine that the modern age could derive into individual narcissistic experiences that could bound together to become something we know as the matrix.</br></br>

                The author questions this by exploring the sensorium elements in relation to contemporary artists who are pushing further the exploration of the human body as a physical envelope to enhance its experiences. Are we really bound to our bodies? Do we really have control over it? Can we call it a sensory regime if an entity controls what we hear, see, smell, eat and feel or is it just paranoia?</br></br>

                Jones brings an interesting point on medication, stating that its usage gained bigger proportions over the years. In the past, it targeted only mental illness but as of now it is massively prescribed in everyday life, often starting from childhood to prevent anxiety or hyperactivity. The use of these pills is supposedly aimed at trying to help children adapt to our complex modern world. The author then questions the way this could be a sort of implicit control of the population.</br></br>

                In conclusion, she writes that the aesthetic businesses are using sensorium segmentation rules to make profit by controlling the population's senses but that control might only be a coincidence because of our attachment to our physical envelope. Hence, exploring the new sensorium could be beneficial for the modern age society in ways we don't understand yet.
            </p>
            <p class="footer"><i>Written by Seva Ivanov</i></p>
        </div>
    </body>
{% endblock %}