/*********************************************************************************/
/* Fonts                                                                         */
/*********************************************************************************/
	@font-face {
		font-family: 'WebFont';

		/* IE9 Compat Modes */
		src: url('../../font/fontawesome-webfont.eot');
		
		/* IE6-IE8 */
		src: url('../../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),

		/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
		url('../../font/fontawesome-webfont.woff') format('woff'),

		/* Android, iOS, Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
		url('../../font/fontawesome-webfont.ttf')  format('truetype'),

		/* Legacy iOS */
		url('../../font/fontawesome-webfont.svg#svgFontName') format('svg');
	}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
	body
	{
		font-family: 'WebFont', Arial, Helvetica, sans-serif;
		font-size: 1em;
		font-weight: lighter;
		
		color: black;
		background: #B6B6B4; /#1E1E1E;
	}

	a
	{
		text-decoration: none;
	}
		a:focus
		{
			outline: 0;
		}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	#header
	{
		position: absolute;
		width: 100%;
		height: 24em;
		
		top: 0;
		right: 0;
		left: 0;

		color: white;
	}

		/* Menu */

		#header > #menu
		{
			display: table;
			position: relative;
			width: 100%;
			height: 12em;
			background: #0C090A;
		}
			#header > #menu:target + #submenu
			{
				margin: 0em 0;
			}

			#header > #menu > header
			{
				display: table-cell;
				width: 75%;
				vertical-align: middle;
				text-align: left;
				padding-left: 1em;
				font-size: 4em;
			}

			#header > #menu > a
			{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				font-size: 8em;

				color: white;
				background: #2B547E;
			}

		/* Submenu */

		#header > #submenu
		{
			display: table;
			width: 100%;
			height: 12em;
			
			background: #2A2728;

			margin: -12em 0;

			-moz-transition: all 0.6s ease-in-out;
			-webkit-transition: all 0.6s ease-in-out;
			transition: all 0.6s ease-in-out;
			-o-transition: all 0.6s ease-in-out;
			-ms-transition: all 0.6s ease-in-out;
		}

			#header #submenu > a
			{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				font-size: 8em;

				color: white;
				background: #ED534F;
			}

			#header #submenu #sections
			{
				width: 75%;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				font-size: 8em;
			}

			#header #submenu #sections table
			{
				width: 100%;
				height: 100%;
				border-collapse: collapse;
			}

				#header #submenu #sections table td
				{
					width: 25%;
					height: 100%;
				}

					#header #submenu #sections table td a img
					{
						width: 50%;
						height: auto;
					}
