/*********************************************************************************/
/*    Header                                                                       */
/*********************************************************************************/
    #header:target ~ #main
    {
        margin-top: 24em;
    }

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/
    #main
    {
        position: absolute;
        width: 100%;
        height: auto;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        color: #E5E4E2;

        z-index: -1;
        margin-top: 12em;

        -moz-transition: all 0.6s ease-in-out;
        -webkit-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
    }

/*********************************************************************************/
/* Entry                                                                        */
/*********************************************************************************/
    #entry
    {
        position: relative;
        width: 100%;
        height: 30em;

        padding: 10em 0 5em;
        text-align: center;
        background: #222124;
    }

        #entry header
        {
            font-size: 4em;
        }

        #entry p
        {
            font-size: 3em;
        }

/*********************************************************************************/
/* Computation Arts & Coding                                                     */
/*********************************************************************************/
    .section
    {
        padding: 4em 0;
    }
        #cart
        {
            background: #242121;
        }

            #cart header
            {
                margin-bottom: 2em;
            }

            #cart .circle
            {
                background-size: 80%;
                margin-bottom: 0;
                background-image: url('/static/frontend/img/logo/512x512/symbol/pc-love-8bit-white.png');
            }

        #coding
        {
            background: #1F1C1C;
        }

            #coding .circle
            {
                margin-bottom: 4em;
                background-image: url('/static/frontend/img/wallpapers/bits_cloud_bw.jpg');
            }

        .section header
        {
            font-size: 4em;
            text-align: center;
        }
    
        .section .circle
        {
            width: 30em;
            height: 30em; 
            border-radius: 15em;
            -webkit-border-radius: 15em;
            -moz-border-radius: 15em;

            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            overflow: hidden;
            margin: 1em auto;
        }

            .section .circle img
            {
                width: 90%;
                height: 90%;
                z-index: 2;
            }

        .section p
        {
            font-size: 3em;
            text-align: center;
            color: #C8C8C8 ;
            margin: 2em 0 4em;
        }

/*********************************************************************************/
/* Abilities                                                                     */
/*********************************************************************************/
    #abilities
    {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 0;
        background: #1A1717;
    }

        #abilities header, #coding header
        {
            padding: 1em 0;
        }

            #abilities #category header
            {
                font-size: 3em;
                text-align: left;

                cursor: default;
                margin-left: 1em;
                margin-bottom: 1.5em;
            }

            #abilities-row
            {
                height: auto;
                width: auto;

                font-size: 2em;

                margin: 0 2em;
                overflow: hidden; /no-sense
            }

                div[id*="-ability"]
                {
                    width: 40%;
                    cursor: default;
                }

                @media all and (max-width: 50em)
                {
                    div[id*="-ability"]
                    {
                        margin: 0 0 2em;
                    }

                }
                
                @media all and (min-width: 50em) and (max-width: 90em)
                {
                    div[id*="-ability"]
                    {
                        margin: 0 1em 2em;
                    }
                }

                #left-ability
                {
                    float: left;
                }

                #right-ability
                {
                    float: right;
                }

                    #abilities #title
                    {
                        float: left;
                    }

                    #abilities #rating
                    {
                        float: right;
                    }

                @media all and (max-width: 90em)
                {
                    #right-ability
                    {
                        text-align: right;
                    }
                    
                        #abilities #title, #rating
                        {
                            width: 100%;
                        }
                }

