<!DOCTYPE html>
<html>
    <head>
        <title>Personal Website by Seva Ivanov</title>

        <meta charset="UTF-8">
        <meta name="author" content="Seva Ivanov">
        <meta name="description" content="Digital Arts & Programming">
        <meta name="keywords" content="Kedfilms, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source, Computation Arts">

        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>

        {% load static %}
        {% get_static_prefix as STATIC %}

        {% load staticfiles %}
        <script type="text/javascript" src="{{ STATIC }}frontend/js/google-analytics.js"></script>

        {% block content %}
        {% endblock %}
</html>