    
body
{
    min-width: 500px;
    min-height: 500px;
    font-family: 'Roboto Slab';
}

    #container
    {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        background: #1E1E1E;
    }

        img#info
        {
            width: 3em;
            height: 3em;
            float: right;
            margin-top: 1em;
            margin-right: 1em;

            opacity: 0.7;
            cursor: pointer;
            border-radius: 50%;
        }
            img#info:hover
            {
                -webkit-box-shadow: 0 0 2px 1px white;
                -moz-box-shadow: 0 0 2px 1px white;
                box-shadow: 0 0 2px 1px white;
            }

        #cube, #cube figure
        {
            width: 250px;
            height: 250px;
        }

        #cube
        {
            position: absolute;

            top: 20%;
            right: 0;
            left: 0;
            margin: auto;

            perspective: 100%;
            transform-style: preserve-3d;
            transform: translateZ(-125px);

            transition: all 1s;
            -moz-transition: all 1s;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            -ms-transition: all 1s;
        }
            #cube.show-top
            {
                -webkit-transform: translateZ(-125px) rotateX(-90deg);
                -moz-transform: translateZ(-125px) rotateX(-90deg);
                -o-transform: translateZ(-125px) rotateX(-90deg);
                transform: translateZ(-125px) rotateX(-90deg);
            }
            #cube.show-right
            {
                -webkit-transform: translateZ(-125px) rotateY(-90deg);
                -moz-transform: translateZ(-125px) rotateY(-90deg);
                -o-transform: translateZ(-125px) rotateY(-90deg);
                transform: translateZ(-125px) rotateY(-90deg);
            }
            #cube.show-bottom
            {
                -webkit-transform: translateZ(-125px) rotateX(90deg);
                -moz-transform: translateZ(-125px) rotateX(90deg);
                -o-transform: translateZ(-125px) rotateX(90deg);
                transform: translateZ(-125px) rotateX(90deg);
            }
            #cube.show-left
            {
                -webkit-transform: translateZ(-125px) rotateY(90deg);
                -moz-transform: translateZ(-125px) rotateY(90deg);
                -o-transform: translateZ(-125px) rotateY(90deg);
                transform: translateZ(-125px) rotateY(90deg);
            }
            #cube.show-front
            {
                -webkit-transform: translateZ(-125px) rotateY(0deg);
                -moz-transform: translateZ(-125px) rotateY(0deg);
                -o-transform: translateZ(-125px) rotateY(0deg);
                transform: translateZ(-125px) rotateY(0deg);
            }
            #cube.show-back
            {
                -webkit-transform: translateZ(-125px) rotateX(-180deg);
                -moz-transform: translateZ(-125px) rotateX(-180deg);
                -o-transform: translateZ(-125px) rotateX(-180deg);
                transform: translateZ(-125px) rotateX(-180deg);
            }

            #cube figure
            {
                position: absolute;
                display: block;
                margin: 0 auto;

                text-align: center;

                opacity: 0.85;
                border: 2px solid #0C090A;
                background: #F9F8F6;

                transition: all 0.5s;
                -moz-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                -o-transition: all 0.5s;
                -ms-transition: all 0.5s;
            }
                #cube figure.with-content:hover
                {
                    cursor: pointer;
                    -webkit-box-shadow: 0 0 600px 10px #F9F8F6;
                    -moz-box-shadow: 0 0 600px 10px #F9F8F6;
                    /*box-shadow: 0 0 0px 3px black;*/
                    /*box-shadow: 0 0 10px 5px #F9F8F6;*/
                    box-shadow: 0 0 600px 10px #F9F8F6;
                }
                figure.top
                {
                    -webkit-transform: rotateX(90deg) translateZ(125px);
                    -moz-transform: rotateX(90deg) translateZ(125px);
                    -o-transform: rotateX(90deg) translateZ(125px);
                    transform: rotateX(90deg) translateZ(125px);
                }
                figure.right
                {
                    -webkit-transform: rotateY(90deg) translateZ(125px);
                    -moz-transform: rotateY(90deg) translateZ(125px);
                    -o-transform: rotateY(90deg) translateZ(125px);
                    transform: rotateY(90deg) translateZ(125px);
                }
                figure.bottom
                {
                    -webkit-transform: rotateX(-90deg) translateZ(125px);
                    -moz-transform: rotateX(-90deg) translateZ(125px);
                    -o-transform: rotateX(-90deg) translateZ(125px);
                    transform: rotateX(-90deg) translateZ(125px);
                }
                figure.left
                {
                    -webkit-transform: rotateY(-90deg) translateZ(125px);
                    -moz-transform: rotateY(-90deg) translateZ(125px);
                    -o-transform: rotateY(-90deg) translateZ(125px);
                    transform: rotateY(-90deg) translateZ(125px);
                }
                figure.front 
                {
                    -webkit-transform: rotateY(0deg) translateZ(125px);
                    -moz-transform: rotateY(0deg) translateZ(125px);
                    -o-transform: rotateY(0deg) translateZ(125px);
                    transform: rotateY(0deg) translateZ(125px);
                }
                figure.back
                {
                    -webkit-transform: rotateX(180deg) translateZ(125px);
                    -moz-transform: rotateX(180deg) translateZ(125px);
                    -o-transform: rotateX(180deg) translateZ(125px);
                    transform: rotateX(180deg) translateZ(125px);
                }

                #cube figure p
                {
                    top: 70px;
                    position: relative;
                    padding: 2px;
                    font-style: italic;
                }

        #buttons
        {
            position: absolute;
            width: 100%;

            right: 0;
            bottom: 2em;
            left: 0;
            margin: 0 auto;
        }

            #buttons a
            {
                width: 10%;
                margin: 0 auto;

                outline: 0;
                cursor: pointer;
                text-decoration: none;

                color: white;
                font-size: 1.3em;
                border: 2px solid white;

                transition: all 0.3s;
                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                -ms-transition: all 0.3s;
            }
                #buttons a:hover
                {
                    border: 2px solid black;
                }

                #buttons a p
                {
                    display: inline-block;
                    margin: 5px;
                }
