    div.img-container
    {
        position: relative;
        animation: moveup-img-container 2s linear 0s infinite;
        animation-play-state: paused;
        /* Chrome, Safari, Opera */
        -webkit-animation: moveup-img-container 2s linear 0s infinite;
        -webkit-animation-play-state: paused;
    }

        div.img-container img
        {
            display: block;
            height: auto;
            width: 100%;
            max-height: 100%;
            max-width: 100%;

        }

            div.img-container:hover
            {
                animation-play-state: running;
                /* Chrome, Safari, Opera */
                -webkit-animation-play-state: running;
            }

            div.img-container-shadow
            {
                position: relative;
                height: 100%;
                width: 100%;
                animation: movedown-img-container-shadow 2s linear 0s infinite;
                animation-play-state: paused;
                /* Chrome, Safari, Opera */
                -webkit-animation: movedown-img-container-shadow 2s linear 0s infinite;
                -webkit-animation-play-state: paused;
            }
    
                div.img-container-shadow:hover
                {
                    animation-play-state: running;
                    /* Chrome, Safari, Opera */
                    -webkit-animation-play-state: running;
                }

    @keyframes moveup-img-container
    {
        0%
        {
            top: 0px;
        }
        50% 
        {
            top: -30px; 
        }
        100% 
        {
            top: 0px;
        }
    }
    @keyframes moveup-img-container
    {
        0%
        {
            top: 0px;
        }
        50% 
        {
            top: -30px; 
        }
        100% 
        {
            top: 0px;
        }
    }
    @keyframes movedown-img-container-shadow
    {
        0% 
        {
            box-shadow: 0px 30px 40px -45px #666362;
        }
        50%
        {
            box-shadow: 0px 80px 35px -40px #666362;
        }
        100%
        {
            box-shadow: 0px 30px 40px -45px #666362;
        }
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes moveup-img-container
    {
        0%
        {
            top: 0px;
        }
        50% 
        {
            top: -30px; 
        }
        100% 
        {
            top: 0px;
        }
    }
    @-webkit-keyframes moveup-img-container
    {
        0%
        {
            top: 0px;
        }
        50% 
        {
            top: -30px; 
        }
        100% 
        {
            top: 0px;
        }
    }
    @-webkit-keyframes movedown-img-container-shadow
    {
        0% 
        {
            box-shadow: 0px 30px 40px -45px #666362;
        }
        50%
        {
            box-shadow: 0px 80px 35px -40px #666362;
        }
        100%
        {
            box-shadow: 0px 30px 40px -45px #666362;
        }
    }
