/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/
    #main
    {
        position: relative;
        margin-top: 4em;
        font-size: 0.7em;
        line-height: 1em;
    }

        #main ul
        {
            width: auto;
            height: auto;

            margin: 2em 2em;
            padding: 2em;

            background: #282828;
        }

            #main ul li
            {
                display: inline-block;
                width: 100%;
                height: auto;

                text-align: right;
                line-height: 3em;
                font-size: 2em;

                border-top: 1px solid;
                border-color: rgba(255,255,255,.1);
            }
                #main ul li:hover
                {
                    background: rgba(255,255,255,.03);
                }
                
                #main ul li:first-child
                {
                    font-size: 2em;
                    text-align: left;
                    border-top: none;
                }
                    #main ul li:first-child:hover
                    {
                        background: none;
                    }

                #main ul li header
                {
                    margin: 0 1em;
                }

                #main ul li a
                {
                    color: white;
                    text-decoration: none;
                    text-shadow: 0 0 30px black;
                }

                    #main ul li a #right
                    {
                        width: 100%;
                        float: right;
                        background: rgba(255,255,255,.03);
                    }

                        #main ul li a #right p
                        {
                            margin: 0.5em 2em;
                        }
