/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
     @font-face
    {
        font-family: Gravity-Light;
        src: url(/static/frontend/fonts/gravity/Gravity-Light.otf);
    }

    body
    {
        font-family: Gravity-Light, Helvetica, sans-serif;
        font-size: 1em;
        color: black;
        background: #1E1E1E;
    }

    a
    {
        text-decoration: none;
    }
        a:focus
        {
            outline: 0;
        }

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
    #header
    {
        position: absolute;
        width: 100%;
        height: 24em;
        
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        color: white;
    }

        /* Menu */

        #header > #menu
        {
            display: table;
            position: relative;
            width: 100%;
            height: 12em;
            background: #0C090A;
        }
            #header:target #submenu
            {
                margin: 0em 0;
            }

            #header > #menu > header
            {
                display: table-cell;
                width: 75%;
                vertical-align: middle;
                text-align: left;
                padding-left: 1em;
                font-size: 4em;
            }

            #header > #menu > a
            {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                font-size: 8em;

                color: white;
                background: #2B547E;
            }

        /* Submenu */

        #header > #submenu
        {
            display: table;
            width: 100%;
            height: 12em;
            
            background: #2A2728;

            margin: -12em 0;

            -moz-transition: all 0.6s ease-in-out;
            -webkit-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
        }

            #header #submenu > a
            {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                font-size: 8em;

                color: white;
                background: #ED534F;
            }

            #header #submenu #sections
            {
                display: table-cell;
                width: 75%;
                vertical-align: middle;
                text-align: center;
            }

            #header #submenu #sections table
            {
                width: 100%;
                height: auto;
                text-align: center;
                border-collapse: collapse;
            }

                #header #submenu #sections table td
                {
                    width: 25%;
                    height: 100%;
                }

                    #header #submenu #sections #img-wrapper
                    {
                        display: block;
                        width: 50%;
                        margin-left: auto;
                        margin-right: auto;
                    }

                        #header #submenu #sections #img-wrapper > img
                        {
                            width: 50%;
                            height: auto;
                        }

/*********************************************************************************/
/* Contact                                                                       */
/*********************************************************************************/
    #contact
    {
        position: absolute;
        height: auto;
        right: 0;
        left: 0;

        color: white;
        background: #0F0F0F; /* #1E1E1E */
        text-align: center;
    }

        #contact header
        {
            font-size: 4em;
            padding-top: 2em;
        }

        #contact p
        {
            padding: 1em;
            font-size: 3em;
        }

        #contact #logos
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            
            padding: 4em 0em 10em;

            -moz-transition: all 0.7s ease-in-out;
            -webkit-transition: all 0.7s ease-in-out;
            transition: all 0.7s ease-in-out;
            -o-transition: all 0.7s ease-in-out;
            -ms-transition: all 0.7s ease-in-out;
        }

        @media all and (min-height: 30em)
        {
            #contact #logos
            {
                width: 100%;
            }
        }

        @media all and (min-height: 30em) and (max-height: 70em)
        {
            #contact #logos
            {
                width: 75%;
            }
        }

        @media all and (min-height: 70em) and (max-height: 90em)
        {
            #contact #logos
            {
                width: 50%;
            }
        }

        @media all and (min-height: 90em)
        {
            #contact #logos
            {
                width: 25%;
            }
        }

            #contact #logos img
            {
                width: 15%;
            }

        #contact p.foot
        {
            font-size: 1.5em;
            padding-bottom: 2em; 
        }

