{% extends PARENT %}

{% block content %}

    {% if PLATFORM == "mobile" %}
        <link rel="stylesheet" href="{{ STATIC }}{{ THEME }}/css/articles-mobile.css">
    {% elif PLATFORM == "desktop" %}
        <link rel="stylesheet" href="{{ STATIC }}{{ THEME }}/css/articles.css">
    {% endif %}

    <div id="main">
        {% for category in categories_articles %}
        <ul>
            <li><header style="color: {% cycle '#E8A317' '#3B9C9C' '#F75D59' '#4CC552' '#E67451' as bgcolors %};">{{ category.0.name }}</header></li>
            {% for article in category.1 %}
            <li>
                {% if article.url %}
                <a href="{{ article.url }}">
                {% else %}
                <a href="/article/{{ article.id }}/#head">
                {% endif %}
                    <div id="right"><p>{{ article.title }}</p></div>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

{% endblock content %}
