<!DOCTYPE html>
<html>
    <head>
        <title>{{ HEAD_TITLE }}</title>
        
        <meta charset="UTF-8">
        <meta name="description" content="Digital Arts & Programming">
        <meta name="keywords" content="Tumahn, Kedfilms, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source">
        <meta name="author" content="Seva Ivanov">
        
        {% load static %}
        {% get_static_prefix as STATIC %}
        
        {% load staticfiles %}    
        <link rel="stylesheet" href="{{ STATIC }}{{ THEME }}/css/base.css"/>
        <style type="text/css">
            #header, #tweet
            {
                background-image: url('{{ STATIC }}{{ APP }}/img/banners/grey_cartoon_mountains.png');
            }
            #logo #circle
            {
                background-image: url('{{ STATIC }}{{ APP }}/img/avatar/8bit-classy-bw.png');
            }
        </style>
        <link rel="shortcut icon" href="{{ STATIC }}{{ APP }}/img/icons/16x16/open-canvas.ico" />
    </head>
    <body>    
        <div id="header">
            <div id="menu-background"></div>
            <!-- showing .content by css sibling -->
            <div id="menu">
                <div class="category">
                    <a href="/"><div class="item">Home</div></a>
                    <div class="subitem">&nbsp;</div>
                    <div class="subitem">&nbsp;</div>
                </div>
                <div class="category">
                    <a href="/articles/"><div class="item">Articles</div></a>
                    <div class="subitem">&nbsp;</div>
                    <div class="subitem">&nbsp;</div>
                </div>
                <div class="category">
                    <div class="item">Projects</div>
                    <a href="/projects/"><div class="content subitem">Timeline</div></a>
                    <a href="/cart/home/welcome/"><div class="content subitem">C-Arts</div></a>
                </div>
                <div class="category">
                    <a><div class="item">Multimedia</div>
                    <a href="/photos/"><div class="content subitem">Photos</div></a>
                    <a href="/videos/"><div class="content subitem">Videos</div></a>
                </div>
                <div class="category">
                    <a href="#footer"><div class="item">Contact</div></a>
                    <div class="subitem">&nbsp;</div>
                    <div class="subitem">&nbsp;</div>
                </div>
            </div>
            <div id="logo">
                <!--<img style="margin-bottom:2em;" src="{{ STATIC }}{{ APP }}/img/logo/si-ascii-graffiti.png"></img>-->
                <!--<div id="circle"></div>-->
                <h1>Tumahn<small><small>.net</small></small></h1>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div id="tweet">
            <section>
                <blockquote>Searching is driving us to accomplishments</blockquote>
            </section>
        </div>

        <div id="footer">
            <section>
                <header>
                    <h2>Contact</h2>
                    <span class="byline">
                        I will be happy to hear back from you!
                    </span>
                </header>
            </section>
            <section>
                <a class="logo" href="https://github.com/sevaivanov">
                    <img class="logo" src="{{ STATIC }}{{ APP }}/img/logo/256x256/contoured-circle/github-white-circled.png" title="Follow my developing progress!"/>
                </a>
                <a class="logo" href="mailto:seva@tumahn.net">
                    <img class="logo" src="{{ STATIC }}{{ APP }}/img/logo/512x512/contoured-circle/email-white.png" title="Write to me!"/>
                </a>
                <a class="logo" href="{{ STATIC }}{{ APP }}/gpg/sevaivanov.asc">
                    <img class="logo" src="{{ STATIC }}{{ APP }}/img/logo/512x512/contoured-circle/old-key-white-right.png" title="Encrypt your email! Public PGP Key"/>
                </a>
                <a class="logo" href="https://blockchain.info/address/14wqPuHB1wL8kvyzgsUipNHLaSWBdMCGFB">
                    <img class="logo" src="{{ STATIC }}{{ APP }}/img/logo/512x512/contoured-circle/bitcoin-white.png" title="Make a donation! Bitcoin wallet address">
                </a>
            </section>
    
            <div id="copyright" style="color:white">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    <img alt="Creative Commons Attribution-ShareAlike 4.0 International License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
                </a></br>
                The contents of this site are licensed under a</br>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" style="color:#4CC552">
                    Creative Commons Attribution-ShareAlike 3.0 Unported License
                </a></br>
                by Seva Ivanov.
            </div>
        </div>    
    </body>
</html>
