<!DOCTYPE html>
<html>

    <meta charset="UTF-8">
    <meta name="description" content="Digital Arts & Programming">
    <meta name="keywords" content="Kedfilms, Mobile, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source">
    <meta name="author" content="Seva Ivanov">

    <head>
        <title>{{ HEAD_TITLE }}</title>
 
        {% load static %}
        {% get_static_prefix as STATIC %}
 
        {% load staticfiles %}
        <link rel="stylesheet" href="{{ STATIC }}{{ THEME }}/css/base-mobile.css">
        <link rel="shortcut icon" href="{{ STATIC }}{{ APP }}/img/icons/16x16/open-canvas.ico" />

        <script type="text/javascript" src="{{ STATIC }}{{ APP }}/js/google-analytics.js"></script>
    </head>
    
    <body>
        <div id="header">
            <div id="menu">
                <header>SEVAIVANOV <small><small>MOBILE</small></small></header>
                <!--
                    a calls the div#header:target that calls its child the div#submenu &
                    the div#menu to change their proprieties while #header is on :target.
                -->
                <a href="#header">≣</a>
            </div>
            <div id="submenu">
                <div id="sections">
                    <table>
                        <td>
                            <a href="/">
                                <div id="img-wrapper">
                                    <img src="{{ STATIC }}{{ APP }}/img/logo/512x512/symbol/house-white.png">
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="/articles/">
                                <div id="img-wrapper">
                                    <img src="{{ STATIC }}{{ APP }}/img/logo/512x512/symbol/book-white.png">
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="/photos/">
                                <div id="img-wrapper">
                                    <img src="{{ STATIC }}{{ APP }}/img/logo/256x256/symbol/camera-white.png">
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="https://vimeo.com/kedfilms">
                                <div id="img-wrapper">
                                    <img src="{{ STATIC }}{{ APP }}/img/logo/512x512/symbol/video-camera-white.png">
                                </div>
                            </a>
                        </td>
                    </table>
                </div>
                <a href="#">✕</a>
            </div>
        </div>

        {% block content %}
        {% endblock content %}

        <div id="contact">
            <header>Contact</header>
            <p>I'll be glad to heard of yours!</p>
            <div id="logos">
                <a href="https://github.com/sevaivanov">
                    <img src="{{ STATIC }}{{ APP }}/img/logo/256x256/contoured-circle/github-white-circled.png" title="Follow my developing progress!"/>
                </a>
                <a class="logo" href="mailto:mail@sevaivanov.com">
                    <img src="{{ STATIC }}{{ APP }}/img/logo/512x512/contoured-circle/email-white.png" title="Write to me!"/>
                </a>
                <a href="{{ STATIC }}{{ APP }}/gpg/sevaivanov.key">
                    <img class="logo" src="{{ STATIC }}{{ APP }}/img/logo/512x512/contoured-circle/old-key-white-right.png" title="Encrypt your email! Public PGP Key"/>
                </a>
                <a href="https://www.blockchain.info/address/14wqPuHB1wL8kvyzgsUipNHLaSWBdMCGFB">
                    <img src="{{ STATIC }}{{ APP }}/img/logo/512x512/contoured-circle/bitcoin-white.png" title="Make a donation! Bitcoin wallet address">
                </a>
            </div>
            <p class="foot">
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    <img alt="Creative Commons Attribution-ShareAlike 4.0 International License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
                </a></br>
                The contents of this site are licensed under a</br>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" style="color:#4CC552">
                    Creative Commons Attribution-ShareAlike 3.0 Unported License
                </a></br>
                by Seva Ivanov.
            </p>
        </div>
    </div>


    </body>
</html>
