{% extends PARENT %}

{% block content %}

    {% load filters %}

    {% if PLATFORM == "mobile" %}
        <link rel="stylesheet" href="{{ STATIC }}{{ THEME }}/css/projects-mobile.css">
    {% elif PLATFORM == "desktop" %}
        <link rel="stylesheet" href="{{ STATIC }}{{ THEME }}/css/projects.css">
    {% endif %}

    <div id="main">
        <header>
            <h3>Timeline</h3>
            {% if PLATFORM == "desktop" %}
                <h5><i>Roll your mouse over one of the project circles.</i></h5>
            {% endif %}
        </header>
        <div id="container">
            {% for year in timeline %}
                <div class="year"><h4>{{ year.0 }}</h4></div>
                {% for month in year.1 %}
                    {% if month.1.id %}
                        <div class="line">
                            <div class="month">{{ month.1.creation_date.month|get_month_name }}</div>
                            <div class="point with_content">
                                <a href="{{ month.1.url }}"></a>
                            </div>
                            <div class="text title">
                                <a href="{{ month.1.url }}">{{ month.1.title }}</a>
                            </div>
                            <div class="text description">{{ month.1.description }}</div>
                        </div>
                    {% else %}
                        <div class="point"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <footer>
                <h5><i>The Beginning of Time</i></h5>
            </footer>
        </div>
    </div>
{% endblock content %}
