{% extends PARENT %}

{% block content %}

    {% load filters %}

    {% if PLATFORM == "mobile" %}
        <link rel="stylesheet" href="{{ STATIC }}{{ THEME }}/css/projects-mobile.css">
    {% elif PLATFORM == "desktop" %}
        <link rel="stylesheet" href="{{ STATIC }}{{ THEME }}/css/projects.css">
    {% endif %}

    <div id="main">
        <header>
            <h3>Timeline</h3>
            {% if PLATFORM == "desktop" %}
                <h5><i>Roll your mouse over one of the project circles.</i></h5>
            {% endif %}
        </header>
        <div id="container">
            {% for year in passed_years %}
                {% for month in months %}

                    {% with years_to_substract=year|inverse_sign %}
                    {% with current_year=start_year|add:years_to_substract %}

                        {% if month == 12 %}
                            {% if PLATFORM == "desktop" %}
                                <div class="year"><h4>{{ current_year|add:1 }}</h4></div>
                            {% elif PLATFORM == "mobile" %}
                                <div class="year"><h4>{{ current_year }}</h4></div>
                            {% endif %}
                        {% endif %}

                        <div class="month"></div>

                        {% with project_id=current_year|combine_with_hyphen:month %}
                        {% with project=projects|get_dict_value:project_id %}

                            {% if project %}
                                <div class="line">
                                    <div class="month">{{ month|get_month_name }}</div>
                                    <div class="point with_content">
                                        <a href="{{ project.url }}"></a>
                                    </div>
                                    <div class="text title">
                                        <a href="{{ project.url }}">{{ project.title }}</a>
                                    </div>
                                    <div class="text description">{{ project.description }}</div>
                                </div>
                            {% else %}
                                <div class="point"></div>
                            {% endif %}

                        {% endwith %}
                        {% endwith %}

                        {% if month == 1 and year == passed_years|last and "desktop" in parent %}
                            <div class="year"><h4>{{ current_year }}</h4></div>
                        {% endif %}

                    {% endwith %}
                    {% endwith %}

                    {% endfor %}
            {% endfor %}

            <footer>
                <h5><i>The Beginning of Time</i></h5>
            </footer>
        </div>
    </div>
{% endblock content %}