{% extends PARENT %}

{% block content %}

    <link rel="stylesheet" href="{{ STATIC }}{{ THEME }}/css/videos.css">

    <a name="head"></a>
    <div id="main">
        <div id="videos">
            {% for category in categories %}
            <!-- {% load cycle from future %} -->
            <section style="background: {% cycle '#E5E4E2' '#92C7C7' '#64E986' '#40494D' as bgcolors %};">
                <header style="color: {% cycle '#787878' 'white' as textcolors %};">
                    {{ category.name }}
                </header>
                <hr></hr>
                <div id="container">
                    {% for video in videos %}
                    {% if video.category == category %}
                        <div id="wrapper">
                            <iframe src="{{ video.iframe_src }}" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
            {% endfor %}
        </div>
    </div>

{% endblock %}
