{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 214 Assignments">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/listing-wo-header-{{ version }}-black.css" />
        <style type="text/css">
            #main ul li{text-align: center;}
        </style>
    </head>
    <body>
        <div id="main">
            <!-- Nice colors: E67451 E8A317 3B9C9C F75D59 4CC552 -->
            <ul>
                <li><header style="color: #E8A317">Assignments</header></li>
                <li><a href="/project/cart/214/booklet/">
                    <div id="right"><p>Booklet</p></div>
                </a></li>
                <li><a href="/project/cart/214/origami/">
                    <div id="right"><p>Folding Paper</p></div>
                </a></li>
                <li><a href="/project/cart/214/infographic/">
                    <div id="right"><p>Infographic</p></div>
                </a></li>
                <li><a href="/project/cart/214/symbols/">
                    <div id="right"><p>Symbols</p></div>
                </a></li>
                <li><a href="/project/cart/214/typo/">
                    <div id="right"><p>Typography</p></div>
                </a></li>
                <li><a href="/project/cart/214/cc/">
                    <div id="right"><p>Combine & Contrast</p></div>
                </a></li>
                <li><a href="/project/cart/214/void/">
                    <div id="right"><p>Void Animation</p></div>
                </a></li>
                <li><a href="/project/cart/214/figure_ground/">
                    <div id="right"><p>Figure & Ground</p></div>
                </a></li>
                <li><a href="/project/cart/214/hiphop_collage/">
                    <div id="right"><p>Hip-Hop Culture Collage</p></div>
                </a></li>
                <li><a href="/project/cart/214/ppp/">
                    <div id="right"><p>Point, Line & Plane</p></div>
                </a></li>
                <li><a href="/project/cart/214/selfie_bits/">
                    <div id="right"><p>Selfies & Self Representation</p></div>
                </a></li>
            </ul>
        </div>
    </body>
{% endblock %}