{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 214 Assignments">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/listing-wo-header-{{ version }}-black.css" />
    </head>
    <body>
        <div id="main">
            <!-- Nice colors: E67451 E8A317 3B9C9C F75D59 4CC552 -->
            <ul>
                <li><header style="color: #E8A317">Assignments</header></li>
                <li><a href="/project/cart/214/figure_ground">
                    <div id="right"><p>Figure & Ground</p></div>
                </a></li>
                <li><a href="/project/cart/214/hiphop_collage">
                    <div id="right"><p>Hip-Hop Culture Collage</p></div>
                </a></li>
                <li><a href="/project/cart/214/ppp">
                    <div id="right"><p>Point, Line & Plane</p></div>
                </a></li>
                <li><a href="/project/cart/214/selfie_bits">
                    <div id="right"><p>Selfies & Self Representation</p></div>
                </a></li>
            </ul>
        </div>
    </body>
{% endblock %}