{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 214 Typography">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-black.css" />
        <style type="text/css">
            #main, #main p {text-align: center;}
            #main .images {display: inline-block;}
            #main .images img {width: 49%;}
        </style>
    </head>
    <body>
        <div id="main">
            <p class="header">Combine & Contrast</p>
            <p>
                <i>Take  the  text  from  this  page:  https://www.eff.org/issues/privacy.</br>
                    Find  or  create  (don’t  forget  to  credit  your  sources)  two  images with  contrasting  meanings.</br>
                    Combine  both  images  with  the  text.  Crop  and  isolate  elements of  the  text  and  image  to  focus  the message  of  the  piece.</br>
                    Extra  points  if  you  use  negative  space  like  Noma  Bar.
                </i>
            </p>
            <div style="width: 50%; margin-top: -2em;" class="images">
                <a href="{{ STATIC }}projects/cart/images/214/eff.jpg">
                    <img src="{{ STATIC }}projects/cart/images/214/eff.jpg"></img>
                </a>
                
                <a href="{{ STATIC }}projects/cart/images/214/eff-2.jpg">
                    <img src="{{ STATIC }}projects/cart/images/214/eff-2.jpg"></img>
                </a>
            </div>
        </div>
    </body>
{% endblock %}