{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 214 Figure Ground Ambiguity">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-black.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-left-right-addon.css" />
    </head>
    <body>
        <div id="main">
            <div id="container">
                <div class="left images" style="width:40%;float:left;">
                    <a href="{{ STATIC }}projects/cart/images/214/figure_ground.jpg"><img src="{{ STATIC }}projects/cart/images/214/figure_ground.jpg"></img></a>
                </div>
                <div class="right">
                    <p class="header">Figure & Ground</p>
                    <p>
                        <i>Create a photograph using the terms "Scale, and Texture". The goal is to create an abstract image by cropping a photographed image which incorporates image elements that focus on these terms. The main visual focus of attention should be on the figure / ground relationship.</i></br></br>

                        I took a panorama photo of the <i>Fleuve St-Laurent</i> with a longer <a href="https://en.wikipedia.org/wiki/Shutter_%28photography%29">Shutter</a> through my sun glasses. After few takes, I discovered that in one of them there was a <a href="https://605.wikispaces.com/Figure+Ground">Figure Ground Ambiguity</a>.
                    </p>
                </div>
            </div>
        </div>
    </body>
{% endblock %}