<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="CART 214 Point, Line & Plane">
        <meta name="author" content="Seva Ivanov">

        {% load static %}
        {% get_static_prefix as STATIC %}

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-black.css" />

    </head>
    <body>
        <div id="main">
            <div class="images">
                <img style="width: 50%;" src="{{ STATIC }}projects/cart/images/point-line-plane.jpg"></img>
            </div>
            <p class="header">Point, Line & Plane</p>
            <p id="sensorium">

                <i>Take several photos which concentrate on one of the terms "point, line or plane". The goal is to create an abstract image by cropping the image to focus on the visual element you have chosen.</i>
            </p>
        </div>
    </body>
</html>