{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 214 Point, Line & Plane">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-black.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-left-right-addon.css" />
    </head>
    <body>
        <div id="main">
            <div id="container">
                <div class="left images">
                    <a href="{{ STATIC }}projects/cart/images/point-line-plane.jpg"><img src="{{ STATIC }}projects/cart/images/point-line-plane.jpg"></img></a>
                </div>
                <div class="right">
                    <p class="header">Point, Line & Plane</p>
                    <p>
                        <i>Take several photos which concentrate on one of the terms "point, line or plane". The goal is to create an abstract image by cropping the image to focus on the visual element you have chosen.</i></br></br>

                        Click on the image and try to look on the white dots.
                    </p>
                </div>
            </div>
        </div>
    </body>
{% endblock %}