{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 214 Selfies & Self Representation">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-black.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-left-right-addon.css" />
    </head>
    <body>
        <div id="main">
            <div id="container">
                <div class="left images">
                    <a href="{{ STATIC }}projects/cart/images/selfie_bits.jpg"><img src="{{ STATIC }}projects/cart/images/selfie_bits.jpg"></img></a>
                </div>
                <div class="right">
                    <p class="header">Selfies & Self Representation</p>
                    <p>
                        <i>Create a figurative selfie, then "deconstruct" the image and reconstruct it (physically or digitally) so as to create a second self-portrait that is not figurative.</i></br></br>

                        I made this with the Fotor application on an iPod.
                    </p>
                </div>
            </div>
        </div>
    </body>
{% endblock %}