<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="CART 211 Readings">
        <meta name="author" content="Seva Ivanov">

        <style type="text/css">
            #main
            {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                padding: 1em 2em;
                text-align: justify;
                color: white;
                background: #1E1E1E;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <p id="sensorium">
                <h3>
                    Caroline A. Jones, The Mediated Sensorium.
                </h3>

                A sensorium is a combination of auditory, olfactory & tactile experiences in which the goal is to alter the senses to create a new sensory envelope of the self.

                It is interesting to imagine that the modern age could derive into individual narcissistic experiences that could bound together to become something we know as the matrix.

                The author questions this by exploring the sensorium elements in relation to contemporary artists who are pushing further the exploration of the human body as a physical envelope to enhance its experiences.

                Are we really bound to our bodies? Do we really have control over it? Can we call it a sensory regime if an entity controls what we hear, see, smell, eat and feel or is it just paranoia?

                Jones brings an interesting point on medication, stating that its usage gained bigger proportions over the years. In the past, it targeted only mental illness but as of now it is massively prescribed in everyday life, often starting from childhood to prevent anxiety or hyperactivity. The use of these pills is supposedly aimed at trying to help children adapt to our complex modern world. The author then questions the way this could be a sort of implicit control of the population.

                In conclusion, she writes that the aesthetic businesses are using sensorium segmentation rules to make profit by controlling the population's senses but that control might only be a coincidence because of our attachment to our physical envelope. Hence, exploring the new sensorium could be beneficial for the modern age society in ways we don't understand yet.

                </br></br><p style="float: right;"><i>Written by Seva Ivanov</i></p>
            </p>
        </div>
    </body>
</html>