{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 214 Symbols: Daily Experiences">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-black.css" />
        <style type="text/css">
            #main {color: black; background: white;}
            #main, #main p {text-align: center;}
            #main .images {display: inline-block;}
            #main .images img {width: 100%;}
        </style>
    </head>
    <body>
        <div id="main">
            <p class="header">Symbols</p>
            <p>
                <i>Compose a series of 5 symbols that represent some of your daily experiences.</i>
            </p>
            <div style="width: 40%; margin-top: -2em;" class="images">
                <a href="{{ STATIC }}projects/cart/images/214/symbols/metro.svg">
                    <img src="{{ STATIC }}projects/cart/images/214/symbols/metro.jpg"></img>
                </a>
                <a href="{{ STATIC }}projects/cart/images/214/symbols/study.jpg">
                    <img src="{{ STATIC }}projects/cart/images/214/symbols/study.jpg"></img>
                </a>
                <a href="{{ STATIC }}projects/cart/images/214/symbols/space-time.svg">
                    <img src="{{ STATIC }}projects/cart/images/214/symbols/space-time.jpg"></img>
                </a>
                <a href="{{ STATIC }}projects/cart/images/214/symbols/code.jpg">
                    <img src="{{ STATIC }}projects/cart/images/214/symbols/code.jpg"></img>
                </a>
                <a href="{{ STATIC }}projects/cart/images/214/symbols/sleep.jpg">
                    <img src="{{ STATIC }}projects/cart/images/214/symbols/sleep.jpg"></img>
                </a>
            </div>
        </div>
    </body>
{% endblock %}