{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="description" content="CART 214 Enter The Void Gif">

        <link type="text/css" rel="stylesheet" href="{{ STATIC }}generic/content-wo-header-{{ version }}-black.css" />
        <style type="text/css">
            #main img, #main iframe {width: 80%; margin: 2em 9.5%;}
            #main iframe {height: 100%;}
            #main p {text-align: center; font-style: default;}
        </style>
    </head>
    <body>
        <div id="main">
            <p class="header">Void Animation</p>
            <p>
                <i>Mission: Kaleidoscopic or abstract gifs (Obj Photo, Illust vector art, PSD)</i></br></br>
                
                </br>I decided to recreate the <a href="https://en.wikipedia.org/wiki/Enter_The_Void">Enter the Void</a> movie ambience from a still image using After Effect.</br></br>

                The director of this movie is <a href="https://en.wikipedia.org/wiki/Gaspar_No%C3%A9">Gaspar Noé</a>.</br></br></br>

                It is a unique piece that will let you wondering about the after life...</br></br>
            </p>
            <p class="title">Original</p>
            <img src="{{ STATIC }}projects/cart/images/void/original.png"></img>
            <p class="title">Flow Motion, Vibrance, Glow & Lens Flare.</p>
            <img src="{{ STATIC }}projects/cart/images/void/working.png"></img>
            <p class="title">Enhanced Colors</p>
            <img src="{{ STATIC }}projects/cart/images/void/middle.jpg"></img>
            <p class="title">The Final GIF</p>
            <img src="{{ STATIC }}projects/cart/images/void/webcolors-interlaced.gif"></img>
            <p class="title">Now. Put your head phones and immerse yourself into the void.</p>
            <iframe src="https://player.vimeo.com/video/141719714" sframeborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p>Music: Howie B - Gallway</p>
        </div>
    </body>
{% endblock %}