{% extends "frontend/desktop/base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "frontend/css/desktop/articles.css" %}">

    <div class="main">
        <div id="content">
                <div id="article">
                    <a name="head"></a>
                    {% block article %}
                    {% endblock article %}
                </div>
                <!-- Research -->
                <div id="side-menu">
                    <ul>
                        <li style="color: {% cycle '#E8A317' '#3B9C9C' '#4CC552' '#F75D59' as bgcolors %};">
                            <header>Research</header>
                        </li>
                        <li>
                            <a href="/static/frontend/pdf/freenet-fr.pdf">
                                PDF: Freenet (French)
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Quests -->
                <div id="side-menu">
                    <ul>
                        <li style="color: {% cycle bgcolors %};">
                            <header>Quests</header>
                        </li>
                        <li>
                            <a href="/artcile/quests/django-website#head">
                                Hosting Django Website  
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Hack The Planet -->
                <div id="side-menu">
                    <ul>
                        <li style="color: {% cycle bgcolors %};">
                            <header>Hack The Planet</header>
                        </li>
                        <li>
                            <a href="/artcile/hacks/chroot#head">
                                Chroot Escaping
                            </a>
                        </li>
                        <li>
                            <a href="/artcile/hacks/owaspshepherd#head">
                                OWASP Security Shepherd
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Quick Tips -->
                <div id="side-menu">
                    <ul>
                        <li style="color: {% cycle bgcolors %};">
                            <header>Quick Tips</header>
                        </li>
                        <li>
                            <a href="/artcile/quick-tips/gpg#head">
                                GNU Privacy Guard
                            </a>
                        </li>
                        <li>
                            <a href="/artcile/quick-tips/terminal-lifestyle#head">
                                Terminal Lifestyle
                            </a>
                        </li>
                        <li>
                            <a href="/artcile/quick-tips/server-tools#head">
                                Server Tools
                            </a>
                        </li>
                        <li>
                            <a href="/artcile/quick-tips/virtualbox#head">
                                Virtualbox
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
