<!DOCTYPE html>
<html>
    <head>
        <title>Personal Website by Seva Ivanov</title>
        
        <meta charset="UTF-8">
        <meta name="description" content="Digital Arts & Programming">
        <meta name="keywords" content="Kedfilms, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source">
        <meta name="author" content="Seva Ivanov">
        
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>

        {% load static %}
        {% get_static_prefix as STATIC %}
        
        {% load staticfiles %}    
        <link rel="stylesheet" href="{{ STATIC }}frontend/css/desktop/base.css"/>
        <link rel="shortcut icon" href="{{ STATIC }}frontend/img/icons/16x16/open-canvas.ico" />

        <script type="text/javascript" src="{{ STATIC }}frontend/js/google-analytics.js"></script>
    </head>
    <body>    
        <div id="header">
            <div id="menu-background"></div>
            <!-- showing .content by css sibling -->
            <div id="menu">
                <div class="category">
                    <a href="/"><div class="item">Home</div></a>
                    <div class="subitem">&nbsp;</div>
                    <div class="subitem">&nbsp;</div>
                </div>
                <div class="category">
                    <a href="/articles/"><div class="item">Articles</div></a>
                    <div class="subitem">&nbsp;</div>
                    <div class="subitem">&nbsp;</div>
                </div>
                <div class="category">
                    <div class="item">Projects</div>
                    <a href="/projects/"><div class="content subitem">Timeline</div></a>
                    <a href="/project/cart/home/main/"><div class="content subitem">C-Arts</div></a>
                </div>
                <div class="category">
                    <a><div class="item">Multimedia</div>
                    <a href="/photos/"><div class="content subitem">Photos</div></a>
                    <a href="/videos/"><div class="content subitem">Videos</div></a>
                </div>
                <div class="category">
                    <a><div class="item">Tutorials</div>
                    <a href="https://sevaivanov.github.io/short/"><div class="content subitem">Web</div></a>
                    <div class="subitem">&nbsp;</div>
                </div>
            </div>
            <div id="logo">
                <img style="margin-bottom:2em;" src="{{ STATIC }}frontend/img/logo/si-ascii-graffiti.png"></img>
                <!--<div id="circle"></div>-->
                <!-- <h5><i>Pardon me, there is no Javascript here?!</i></h5> -->
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div id="tweet">
            <section>
                <blockquote>Searching is driving us to accomplishments</blockquote>
            </section>
        </div>

        <div id="footer">
            <section>
                <header>
                    <h2>Contact</h2>
                    <span class="byline">
                        I'll be glad to heard of yours!
                    </span>
                </header>
            </section>
            <section>
                <a class="logo" href="https://github.com/sevaivanov">
                    <img class="logo" src="{{ STATIC }}frontend/img/logo/256x256/contoured-circle/github-white-circled.png" title="Follow my developing progress!"/>
                </a>
                <a class="logo" href="mailto:mail@sevaivanov.com">
                    <img class="logo" src="{{ STATIC }}frontend/img/logo/512x512/contoured-circle/email-white.png" title="Write to me!"/>
                </a>
                <a class="logo" href="{{ STATIC }}frontend/gpg/seva-ivanov.key">
                    <img class="logo" src="{{ STATIC }}frontend/img/logo/512x512/contoured-circle/old-key-white-right.png" title="Encrypt your email! Public PGP Key"/>
                </a>
                <a class="logo" href="https://www.blockchain.info/address/14wqPuHB1wL8kvyzgsUipNHLaSWBdMCGFB">
                    <img class="logo" src="{{ STATIC }}frontend/img/logo/512x512/contoured-circle/bitcoin-white.png" title="Make a donation! Bitcoin wallet address">
                </a>
            </section>
    
            <div id="copyright">
                <a>Created by Seva Ivanov</a>
            </div>
        </div>    
    </body>
</html>
