<!DOCTYPE html>
<html>
	<meta charset="UTF-8">
	<meta name="description" content="Kedfilms : Digital Arts & Programming">
	<meta name="keywords" content="Kedfilms, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source">
	<meta name="author" content="Seva Ivanov">

	<head>
		<title>Kedfilms</title>
		
		{% load staticfiles %}	
		<link rel="stylesheet" href="{% static "frontend/css/desktop/base.css" %}"/>
		<link rel="shortcut icon" href="{% static "frontend/img/icons/16x16/open-canvas.ico" %}" />

		<style type="text/css">
			#header, #tweet
			{
				background: url({% static "frontend/img/wallpapers/head-banner.jpg" %}) 
					no-repeat bottom center;
				background-attachment: fixed;
				background-size: cover;
			}
		</style>
	</head>

	<body>	
		<div id="header">
			<div id="menu">
				<ul>
					<li>
						<a href="/home/">Home</a>
					</li>
					<li>
						<a href="/articles/">Articles</a>
					</li>
					<li>
						<a href="/photos/">Photography</a>
					</li>
					<li>
						<a href="/videos/">Short Films</a>
					</li>
				</ul>
			</div>
			<div id="logo">
				<h1>KEDFILMS</h1>
				<h4>By Seva Ivanov</h4>
			</div>
		</div>

		{% block content %}
		{% endblock %}

		<div id="tweet">
			<section>
				<blockquote>Searching is driving us to accomplishments</blockquote>
			</section>
		</div>

		<div id="footer">
			<section>
				<header>
					<h2>Contact</h2>
					<span class="byline">
						I'll be glad to heard of yours!
					</span>
				</header>
			</section>
			<section>
				<a class="logo" href="https://www.github.com/sevaivanov">
					<img class="logo" src="{% static "frontend/img/logo/256x256/contoured-circle/github-white-circled.png" %}" title="Follow my developing progress!"/>
				</a>
				<a class="logo" href="mailto:sevaivanov@kedfilms.com">
					<img class="logo" src="{% static "frontend/img/logo/512x512/contoured-circle/email-white.png" %}" title="Write to me!"/>
				</a>
				<a class="logo" href="{% static "frontend/gpg/seva-ivanov.key" %}">
					<img class="logo" src="{% static "frontend/img/logo/512x512/contoured-circle/old-key-white-right.png" %}" title="Encrypt your email! Public PGP Key"/>
				</a>
				<a class="logo" href="https://www.blockchain.info/address/14wqPuHB1wL8kvyzgsUipNHLaSWBdMCGFB">
					<img class="logo" src="{% static "frontend/img/logo/512x512/contoured-circle/bitcoin-white.png" %}"title="Make a donation! Bitcoin wallet address">
				</a>
			</section>
	
			<div id="copyright">
				<a>Created by Seva Ivanov</a>
			</div>
		</div>	
	</body>
</html>
