{% extends "frontend/desktop/base.html" %}

{% block content %}

    {% load static %}
    {% get_static_prefix as STATIC %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{{ STATIC }}frontend/css/desktop/photos-gallery.css">
    <link rel="stylesheet" href="{{ STATIC }}frontend/css/animated/box-shadow_below-image.css">


    <div id="return" class="left">
        <a href="/photos/gallery/{{ last }}">
            <img  src="{{ STATIC }}frontend/img/logo/512x512/filled-circle/back-arrow-black-left.png"/>
        </a>
    </div>
    <div id="return" class="right">
        <a href="/photos/gallery/{{ next }}">
            <img  src="{{ STATIC }}frontend/img/logo/512x512/filled-circle/back-arrow-black-right.png"/>
        </a>
    </div>

    <div id="main">
        <div id="photos">
            
            <a name="head"></a>
            <section>
                <hr></hr>
                <header>
                    {{ category|title }}
                </header>
                <hr></hr>
            </section>

            <section>
                <ul id="box-container">
                {% for image in images %}
                    <li class="box">
                        <div class="img-container">
                            <div class="img-container-shadow">
                                <a class="swipebox" rel="" href="/photos/slideshow/{{ category }}/#{{ image.fragment_identifier }}">
                                    <img src="{{ image.get_image_thumbnails_urls.x200 }}"/>
                                </a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </section>

        </div>
    </div>

{% endblock %}
