{% extends "frontend/desktop/base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{{ STATIC }}frontend/css/desktop/photos-gallery.css">
    <link rel="stylesheet" href="{{ STATIC }}frontend/css/animated/box-shadow_below-image.css">


    <div id="return" class="left">
        <a href="/photos/gallery/{{ last.0 }}/#head">
            <img  src="{{ STATIC }}frontend/img/logo/512x512/filled-circle/back-arrow-black-left.png"/>
        </a>
    </div>
    <div id="return" class="right">
        <a href="/photos/gallery/{{ next.0 }}/#head">
            <img  src="{{ STATIC }}frontend/img/logo/512x512/filled-circle/back-arrow-black-right.png"/>
        </a>
    </div>

    <div id="main">
        <div id="photos">
            
            <a name="head"></a>
            <section>
                <hr></hr>
                <header>
                    {% load filters %}
                    {{ category|underscores_to_spaces|title }}
                </header>
                <hr></hr>
            </section>

            <section>
                <ul id="box-container">
                {% for image in images %}
                    <li class="box">
                        <div class="img-container">
                            <div class="img-container-shadow">
                                {% if image.get_image_type == 'gif' %}
                                    <a class="swipebox" rel="" href="{{ image.get_image_url }}">
                                        <img src="{{ image.get_image_thumbnails_urls.x200 }}"/>
                                    </a>
                                {% else %}
                                    <a class="swipebox" rel="" href="/photos/slideshow/{{ category }}/{{ image.fragment_identifier }}/#{{ image.fragment_identifier }}">
                                        <img src="{{ image.get_image_thumbnails_urls.x200 }}"/>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </section>

        </div>
    </div>

{% endblock %}
