<!DOCTYPE html>
<html>

    <meta charset="UTF-8">
    <meta name="description" content="Digital Arts & Programming">
    <meta name="keywords" content="Kedfilms, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source">
    <meta name="author" content="Seva Ivanov">

    <head>
        <title>{{ HEAD_TITLE }}</title>

        {% load static %}
        {% get_static_prefix as STATIC %}
        
        {% load staticfiles %}
        <link rel="shortcut icon" href="{{ STATIC }}{{ APP }}/img/icons/16x16/open-canvas.ico" />
        
        <script type="text/javascript" src="{{ STATIC }}{{ APP }}/js/google-analytics.js"></script>
    </head>
    
    <body>
        {% block content %}
        {% endblock %}
    </body>

</html>
