{% extends "frontend/base.html" %}

{% block content %}
	<div id="featured">
        <div id="content" class="container">
            <header>
                <h2>{{ title }}</h2>
                <h3>{{ subtitle }}</h3>
            </header>
            <hr></hr>
        </div>
    </div>
    <div id="main">
        <div id="container">
            <div class="row">
                
                <div id="content"  class="8u skel-cell-important">
                    <section>
                        <header>
                            <h2>Rabbit story</h2>
                            <span class="byline">For the special ones</span>
                        </header>
                        <p>
                            Once upon a time there was rabbit with wide long ears.
                        </p>
                        <p>
                            End of this magnificent story.
                        </p>
                    </section>
                </div>
                <div id="sidebar" class="4u">
                    <section>
                        <header>
                            <h2>Section</h2>
                        </header>

                        <div class="row">
                            <section class="6u">
                                <ul class="default">
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                </ul>
                            </section>
                            <section class="6u">
                                <ul class="default">
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                    <li><a href="#">Awesome article about monkeys</a></li>
                                </ul>
                            </section>
                        </div>
                    <section>
                </div>
            
            </div>
        </div>
	</div>
{% endblock %}
