{% extends "frontend/base.html" %}

{% block content %}
	<div id="featured">
        <div id="content" class="container">
            <section>
                <header>
                    <h2>{{ title }}</h2>
                    <h3>{{ subtitle }}</h3>
                </header>
                <p>
                    pg
                </p>
            </section>
    </div>
    <div id="main">
        <div id="content" class="container">
            <section>
                <p>
                    pg again
                </p>
            </section>
		</div>
	</div>
{% endblock %}
