{% extends "frontend/base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "frontend/css/articles.css" %}">

    <div class="main">
        <section class="articles">
                <div id="article">
                    <h2>Rabbit story</h2>
                    <h3>For the special ones</h3>
                    <p>
                        Once upon a time there was rabbit with wide long ears.
                    </p>
                    <p>
                        End of this magnificent story.
                    </p>
                </div>
                <div id="listing">
                    <h4>Section</h4>
                    <h5>link1</h5>
                </div>
                <div id="listing">
                    <h4>Section</h4>
                    <h5>link1</h5>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
