<!DOCTYPE html>
<html>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Kedfilms" content="html5 css3 website" />

	<head>
		<title>Kedfilms</title>
		
		{% load staticfiles %}	
		<link rel="stylesheet" href="{% static "frontend/css/base.css" %}"/>

	</head>

	<body>	
		<div id="header">
			<div id="menu">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/articles">Articles</a>
					</li>
					<li>
						<a href="/photos">Photography</a>
					</li>
					<li>
						<a href="#">Short Films</a>
					</li>
				</ul>
			</div>
			<div id="logo">
				<h1>KEDFILMS</h1>
				<h4>By Vsevolod Ivanov</h4>
			</div>
		</div>
        
		{% block content %}
		{% endblock %}

		<div id="tweet">
			<section>
				<blockquote>Searching is driving us to accomplisments.</blockquote>
			</section>
		</div>

		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Contact</h2>
						<span class="byline">
                            I'll be glad to heard of yours!
                        </span>
					</header>
                    <a class="logo" href="https://github.com/sevaivanov/kedfilms">
                        <img class="logo" src="{% static "frontend/img/logo/github-white.png" %}"/></a>
                    <a class="logo" href="mailto:m.seva.ivanov@gmail.com">
                        <img class="logo" src="{% static "frontend/img/logo/email-white.png" %}"/></a>
				</section>
			</div>
			</br>
		
			<div id="copyright">
				<div class="container">
					Created by Vsevolod Ivanov
				</div>
			</div>
		</div>	
	</body>
</html>
