<!DOCTYPE html>
<html>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		  <meta name="description" content="" />
		  <meta name="keywords" content="" />

	<head>
		<title>Welcome to Kedfilms, you, html stalker...</title>
		
		{% load staticfiles %}	
		<script src="{% static "frontend/js/linear/skel.min.js" %}"></script>
		<script src="{% static "frontend/js/linear/skel-panels.min.js" %}"></script> 
		<script src="{% static "frontend/js/linear/init.js" %}"></script>
		
		<link rel="stylesheet" href="{% static "frontend/css/linear/style.css" %}"/>
		<link rel="stylesheet" href="{% static "frontend/css/linear/skel-noscript.css" %}"/>
		<link rel="stylesheet" href="{% static "frontend/css/linear/style-desktop.css" %}"/>
	    <link rel="stylesheet" href="{% static "frontend/css/base.css" %}"/>
    </head>

	<body>	
		<div id="header">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/articles">Articles</a></li>
						<li><a href="/photos">Photos</a></li>
						<li><a href="#">Videos</a></li>
					</ul>
				</nav>
			</div>
			<div class="container">
				<div id="logo">
					<h1><a href="#">KEDFILMS</a></h1>
					<span class="tag">By Vsevolod Ivanov</span>
				</div>
			</div>
		</div>
        
		{% block content %}
		{% endblock %}

		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>You're not invited to third parties parties. Think about it.</blockquote>
				</section>
			</div>
		</div>

		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Contact</h2>
						<span class="byline">Dark cornerns</span>
					</header>
					<ul class="contact">
						<li><a href="https://www.debian.org/intro/about" class="fa fa-linux"></a></li>
						<li><a href="https://github.com/sevaivanov/kedfilms" class="fa fa-github"></a></li>
						<li><a href="https://www.youtube.com/user/fcotw24" class="fa fa-youtube"></a></li>
						<li><a href="https://www.flickr.com/photos/kedfilms" class="fa fa-flickr"></a></li>
					</ul>
				</section>
			</div>
			</br>
		
			<div id="copyright">
				<div class="container">
					Created by Vsevolod Ivanov in one of those wild nights
				</div>
			</div>
		</div>	
	</body>
</html>
