{% extends "frontend/errors/base.html" %}

{% block content %}

    {% load static %}
    {% get_static_prefix as STATIC %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "frontend/css/errors/generic-simple-text.css" %}">

    <div id="main">
        <div id="container">
            {% if image_src %}
                <img src="{{ STATIC }}{{ image_src }}"></img>
            {% endif %}
            <p id="header">{{ header }}</p>
            <p class="subtitle">{{ subtitle }}</p>
            <p>{{ body }}</p>
        </div>
    </div>

{% endblock %}
