{% extends "frontend/errors/base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "frontend/css/errors/generic-simple-text.css" %}">

    <div id="main">
        <div id="container">
            <p id="header">Your browser is currently not supported.</p>
            <p>Don't worry, there is an easy fix. All you have to do is click on one of the icons below and install a modern browser conforming to today's standards to access this page.</p>

            <a href="https://www.mozilla.org/en-US/firefox/new/">
                <img src="{% static "frontend/img/logo/512x512/trademark/firefox.png" %}"> </img>
            </a>
            <a href="http://www.google.com/chrome/">
                <img src="{% static "frontend/img/logo/512x512/trademark/chrome.png" %}"> </img>
            </a>
            <a href="http://support.apple.com/downloads/#safari">
                <img src="{% static "frontend/img/logo/512x512/trademark/safari.png" %}"> </img>
            </a>
        </div>
    </div>

{% endblock %}
