<!DOCTYPE html>
<html>

	<meta charset="UTF-8">
	<meta name="description" content="Kedfilms : Digital Arts & Programming">
	<meta name="keywords" content="Kedfilms, Mobile, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source">
	<meta name="author" content="Seva Ivanov">

	{% load static %}
    {% get_static_prefix as STATIC %}

	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "frontend/css/mobile/base.css" %}">

	<head>
		<title>Kedfilms</title>
	</head>
	
	<body>
		<div id="header">
			<div id="menu">
				<header>KEDFILMS</header>
				<!--
					a calls the div#menu:target that
					calls its adjacent (+) the div#submenu
					to send the new proprieties to the div.
				-->
				<a class="menu" href="#menu">⌘</a>
			</div>
			<div id="submenu">
				<div id="sections">
					<table>
						<td>
							<a href="">
								<img src="{% static "frontend/img/logo/512x512/symbol/house-white.png" %}">
							</a>
						</td>
						<td>
							<a href="">
								<img src="{% static "frontend/img/logo/512x512/symbol/book-white.png" %}">
							</a>
						</td>
						<td>
							<a href="">
								<img src="{% static "frontend/img/logo/256x256/symbol/camera-white.png" %}">
							</a>
						</td>
						<td>
							<a href="">
								<img src="{% static "frontend/img/logo/512x512/symbol/video-camera-white.png" %}">
							</a>
						</td>
					</table>
				</div>
				<a href="#">✕</a>
			</div>
		</div>
		<div id="main">
			{% block content %}
			{% endblock %}
		</div>
	</body>

</html>