<!DOCTYPE html>
<html>

    <meta charset="UTF-8">
    <meta name="description" content="Digital Arts & Programming">
    <meta name="keywords" content="Kedfilms, Mobile, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source">
    <meta name="author" content="Seva Ivanov">

    <head>
        <title>Personal Website by Seva Ivanov</title>
 
        {% load staticfiles %}
        <link rel="stylesheet" href="/static/frontend/css/mobile/base.css">
        <link rel="shortcut icon" href="/static/frontend/img/icons/16x16/open-canvas.ico" />
    </head>
    
    <body>
        <div id="header">
            <div id="menu">
                <header>SEVAIVANOV <small><small>MOBILE</small></small></header>
                <!--
                    a calls the div#header:target that calls its child the div#submenu &
                    the div#menu to change their proprieties while #header is on :target.
                -->
                <a href="#header">≣</a>
            </div>
            <div id="submenu">
                <div id="sections">
                    <table>
                        <td>
                            <a href="/">
                                <div id="img-wrapper">
                                    <img src="/static/frontend/img/logo/512x512/symbol/house-white.png">
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="/articles/">
                                <div id="img-wrapper">
                                    <img src="/static/frontend/img/logo/512x512/symbol/book-white.png">
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="/photos/">
                                <div id="img-wrapper">
                                    <img src="/static/frontend/img/logo/256x256/symbol/camera-white.png">
                                </div>
                            </a>
                        </td>
                        <td>
                            <a href="https://vimeo.com/kedfilms">
                                <div id="img-wrapper">
                                    <img src="/static/frontend/img/logo/512x512/symbol/video-camera-white.png">
                                </div>
                            </a>
                        </td>
                    </table>
                </div>
                <a href="#">✕</a>
            </div>
        </div>

        {% block content %}
        {% endblock content %}

        <div id="contact">
            <header>Contact</header>
            <p>I'll be glad to heard of yours!</p>
            <div id="logos">
                <a href="https://github.com/sevaivanov">
                    <img src="/static/frontend/img/logo/256x256/contoured-circle/github-white-circled.png" title="Follow my developing progress!"/>
                </a>
                <a class="logo" href="mailto:mail@sevaivanov.com">
                    <img src="/static/frontend/img/logo/512x512/contoured-circle/email-white.png" title="Write to me!"/>
                </a>
                <a href="/static/frontend/gpg/seva-ivanov.key">
                    <img class="logo" src="/static/frontend/img/logo/512x512/contoured-circle/old-key-white-right.png" title="Encrypt your email! Public PGP Key"/>
                </a>
                <a href="https://www.blockchain.info/address/14wqPuHB1wL8kvyzgsUipNHLaSWBdMCGFB">
                    <img src="/static/frontend/img/logo/512x512/contoured-circle/bitcoin-white.png" title="Make a donation! Bitcoin wallet address">
                </a>
            </div>
            <p class="foot">Created by Seva Ivanov</p>
        </div>
    </div>


    </body>
</html>
