{% extends "frontend/mobile/base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "frontend/css/mobile/home.css" %}">

    <div id="main">
        <div id="entry">
            <header>
                Yours truly
            </header>
            <p>
                I am a human being,</br> an amazing student & a freelancer.</br>
                Art & minutiae are transparent in my projects.</br>
                Opensource is a reality & Linux is a choice.</br>
            </p>
        </div>
        <div id="coding">
            <header>Coding</header> 
            <a href="https://devpost.com/sevaivanov">
                <div id="circle-background"></div>
            </a>
            <a href="https://devpost.com/sevaivanov"><p>
                > View my projects
            </p></a>
        </div>
        <div id="abilities">
            <header>Abilities</header>
            {% for category in skills_categories %}
                <div id="category">
                    <header>
                        {{ category|title }}
                    </header>
                    <div id="abilities-row">
                        {% load filters %}
                        {% for skill in skills|in_category:category %}

                            {% if forloop.counter|divisibleby:2 %}
                                <div id="right-ability">
                            {% else %} <!-- first -->
                                <div id="left-ability">
                            {% endif %}
                                
                                <div id="title">
                                    {{ skill.title }}
                                </div>
                                <div id="rating">
                                    {% load filters %}
                                    {% for i in 5|times %}
                                        {% if i < skill.rating_on_five %}
                                            ★
                                        {% else %}
                                            ☆
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </br></br></br></br></br>
        </div>

{% endblock %}
