<!DOCTYPE html>
<html>

    <meta charset="UTF-8">
    <meta name="description" content="Digital Arts & Programming">
    <meta name="keywords" content="Kedfilms, Mobile, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source">
    <meta name="author" content="Seva Ivanov">

    <head>
        <title>Personal Website by Seva Ivanov</title>
        
        {% load staticfiles %}
        <link rel="stylesheet" href="/static/frontend/css/mobile/photos-slideshow.css">

        <script type="text/javascript" src="/static/frontend/js/google-analytics.js"></script>
    </head>
    
    <body>
        <div id="main">
            <img src="{{ image_url }}"></img>
        </div>
    </body>

</html>
