<!DOCTYPE html>
<html>

    <meta charset="UTF-8">
    <meta name="description" content="Digital Arts & Programming">
    <meta name="keywords" content="Kedfilms, Mobile, Django, HTML5 , Pure CSS, Stylish, Modern, Open Source">
    <meta name="author" content="Seva Ivanov">

    {% load static %}
    {% get_static_prefix as STATIC %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{{ STATIC }}frontend/css/mobile/photos-slideshow.css">

    <head>
        <title>Personal Website by Seva Ivanov</title>
    </head>
    
    <body>
        <div id="main">
            <img src="{{ image_url }}"></img>
        </div>
    </body>

</html>
