{% extends "frontend/mobile/base.html" %}

{% block content %}

	{% load static %}
	{% get_static_prefix as STATIC %}

	{% load staticfiles %}
	<link rel="stylesheet" href="{{ STATIC }}frontend/css/mobile/photos.css">

	<div id="main">
		<ul class="menu">
			<li>
				<header>
					FLY TO ✈
				</header>
			</li>
			{% for category in categories %}
				<a href="#{{ category }}">
					{% if forloop.counter == 1 %}
						<li style="color: {% cycle '#E8A317' '#3B9C9C' '#4CC552' '#F75D59' as bgcolors %};">
					{% else %}
						<li style="color: {% cycle bgcolors %};">
					{% endif %}
						{{ category|upper }}
					</li>
				</a>
			{% endfor %}
		</ul>

		{% for category in categories %}
			<ul id="{{ category }}">
				{% if forloop.counter == 1 %}
					<li style="color: {% cycle '#E8A317' '#3B9C9C' '#4CC552' '#F75D59' as bgcolors %};">
				{% else %}
					<li style="color: {% cycle bgcolors %};">
				{% endif %}
					<header>
						{{ category }}
					</header>
				</li>
				{% load filters %}
				{% for photo in photos|in_category:category %}
					<a id="{{ photo.fragment_identifier }}"></a>
					<li>
						<a href="#{{ photo.fragment_identifier }}">
							<div id="left">
								+
							</div>
						</a>
						<div id="right">
							<div id="content">
								<ul>
									<li>
										{{ photo.title }}
									</li>
									<div id="left-rows">
										<li>
											{{ photo.author }}
										</li>
										<li>
											{{ photo.date_created }}
										</li>
									</div>
									<div id="right-thumb">
										<li>
											<a href="{{ STATIC }}frontend/img/{{ photo.category|lower }}/original/{{ photo.filename }}">
												<img src="{{ STATIC }}frontend/img/{{ photo.category|lower }}/x200/{{ photo.filename }}" alt=""/>
											</a>
										</li>
									</div>
								</ul>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endfor %}
	</div>

{% endblock content %}