{% extends "frontend/sections/base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "frontend/css/sections/articles.css" %}">

    <div class="main">
        <section>
                <div id="article">
                    <a name="head"></a>
                    {% block article %}
                    {% endblock article %}
                </div>
                <!-- Quests -->
                <div id="menu">
                    <ul class="default">
                        <li class="default" style="color: {% cycle '#3B9C9C' '#4CC552' '#F75D59' as bgcolors %};">
                            <header>Quests</header>
                        </li>
                        <li class="default">
                            <a href="/artcile/quests/django-website#head">
                                Hosting Django Website  
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Hack The Planet -->
                <div id="menu">
                    <ul class="default">
                        <li class="default" style="color: {% cycle bgcolors %};">
                            <header>Hack The Planet</header>
                        </li>
                        <li class="default">
                            <a href="/artcile/hacks/chroot#head">
                                Chroot Escaping
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Quick Tips -->
                <div id="menu">
                    <ul class="default">
                        <li class="default" style="color: {% cycle bgcolors %};">
                            <header>Quick Tips</header>
                        </li>
                        <li class="default">
                            <a href="/artcile/quick-tips/gpg#head">
                                GNU Privacy Guard
                            </a>
                        </li>
                        <li class="default">
                            <a href="/artcile/quick-tips/terminal-lifestyle#head">
                                Terminal Lifestyle
                            </a>
                        </li>
                        <li class="default">
                            <a href="/artcile/quick-tips/server-tools#head">
                                Server Tools
                            </a>
                        </li>
                        <li class="default">
                            <a href="/artcile/quick-tips/virtualbox#head">
                                Virtualbox
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
