{% extends "frontend/sections/base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "frontend/css/articles.css" %}">

    <div class="main">
        <section class="articles">
                <div id="article">
                    {% block article %}
                    {% endblock article %}
                </div>
                <div id="listing">
                    <ul class="default">
                        <li class="default">
                            <header>Sir Stories</header>
                        </li>
                        <li class="default">
                            <a href="/artciles/rabbit-story">
                                Mr. Rabbit
                            </a>
                        </li>
                        <li class="default">
                            <a href="/artciles/mrpurple-story">
                                Mr. Purple
                            </a>
                        </li class="default">
                    </ul>
                </div>
                <div id="listing">
                    <ul class="default">
                        <li class="default">
                            <header>Fake Section</header>
                        </li>
                        <li class="default">
                            <a>Do not try to touch me.</a>
                        </li>
                        <li class="default">
                            <a>The one that touches me...</a>
                        </li class="default">
                    </ul>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
