{% extends "frontend/sections/base.html" %}

{% block content %}

    {% load static %}
    {% load filters %}
    {% load rpnMath %}
    {% load staticfiles %}

    {% get_static_prefix as STATIC %}

    {% with NEW_HEIGHT=200 FRONTEND=STATIC|add:"frontend/" %}

        <link rel="stylesheet" href="{{ FRONTEND }}css/sections/gallery.css">
        <link rel="stylesheet" href="{{ FRONTEND }}css/animated/box-shadow_below-image.css">


        <div id="return" class="left">
            <a href="/photos/gallery/{{ previous }}">
                <img  src="{{ STATIC }}frontend/img/logo/back-arrow-black-left.png"/>
            </a>
        </div>
        <div id="return" class="right">
            <a href="/photos/gallery/{{ next }}">
                <img  src="{{ STATIC }}frontend/img/logo/back-arrow-black-right.png"/>
            </a>
        </div>

        <div id="main">
            <div id="photos">

                <a name="head"></a>
                <section>
                    <hr></hr>
                    <header>
                        {{ title }}
                    </header>
                    <hr></hr>
                </section>

                <section>
                    <ul id="box-container">
                    {% for image in images %}
                        <li class="box">
                            {% with image_path=FRONTEND|add:image.staticfilepath %}
                            {% with width=image_path|imageWidth height=image_path|imageHeight %} 
                            {% with newWidth=getNewWidth|stnew|stpush:width|stpush:NEW_HEIGHT|stmult|stpush:height|stdiv|stget %}
                            <div class="img-container" style="height:{{ NEW_HEIGHT }}px; width:{{ newWidth }}px;">
                                <div class="img-container-shadow">
                                    <a class="swipebox" rel="" href="/photos/slideshow/{{ section }}/#{{ image.fragment_identifier }}">
                                        <img src="{{ FRONTEND }}{{ image.staticfilepath }}" height="{{ NEW_HEIGHT }}" alt="image"/>
                                    </a>
                                </div>
                            </div>
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        </li>
                    {% endfor %}
                    </ul>
                </section>

            </div>
        </div>

    {% endwith %}

{% endblock %}
