<!DOCTYPE html>
<html>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Kedfilms slideshow" content="Pure css photos and videos slideshow" />

	<head>
		<title>Kedfilms slideshow</title>

		{% load static %}
		{% get_static_prefix as STATIC %}

		{% load staticfiles %}	
		<link rel="stylesheet" href="{{ STATIC }}frontend/css/sections/slideshow.css"/>

		<style type="text/css">
			{% for photo in photos %}

				a#{{ photo.fragment_identifier }}:target + div#container-{{ photo.fragment_identifier }}
				{
					display: block; # shows the container
				}

				a#{{ photo.fragment_identifier }}:target + div#container-{{ photo.fragment_identifier }} > div#slide-{{ photo.fragment_identifier }} > img#{{ photo.fragment_identifier }}
				{
					opacity: 1;
					transform: scale(1);
				}

			{% endfor %}
		</style>
	</head>

	<body>
		<div id="slideshow">
			<ul class="slider">
				<li class="slides" >
					{% for photo in photos %}
						<a id="{{ photo.fragment_identifier }}" class="cap"></a>

						<div id="container-{{ photo.fragment_identifier }}">

							<div id="slide-{{ photo.fragment_identifier }}">
								<img id="{{ photo.fragment_identifier }}" src="{{ STATIC }}frontend/{{ photo.staticfilepath }}" alt=""/>
							</div>

							<div id="details">
								<ul>
									<li>
										Title: {{ photo.title }}
									</li>
									<li>
										Author: {{ photo.author }}
									</li>
									<li>
										Category: {{ photo.category }}
									</li>
                                    {% if photo.hardware %}
                                        <li>
                                            Hardware:</br>{{ photo.hardware }}
                                        </li>
                                    {% endif %}
                                    {% if photo.application %}
                                        <li>
                                            Software:</br>{{ photo.application }}
                                        </li>
                                    {% endif %}
									<li>
										Date: {{ photo.date_created }}
									</li>
								</ul>
							</div>

						</div>
					{% endfor %}
				</li>

				<li class="track">
					{% for photo in photos %}
						<a href="#{{ photo.fragment_identifier }}" class="tr{{ forloop.counter }}"></a>
					{% endfor %}
				</li>
			</ul>
		</div>

		<div id="return">
			<a href="{{ previous_location }}">
				<img  src="{{ STATIC }}frontend/img/logo/back-arrow-white.png"/>
			</a>
		</div>
	</body>
</html>
