<!DOCTYPE html>
<html>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="Kedfilms slideshow" content="Pure css photos and videos slideshow" />

	<head>
		<title>Kedfilms slideshow</title>
		
		{% load staticfiles %}	
		<link rel="stylesheet" href="{% static "frontend/css/sections/slideshow.css" %}"/>

		{% load static %}
		{% get_static_prefix as STATIC %}

		<style type="text/css">
			{% if filestype == "photo" %}
				{% for photo in files %}

					a#{{ photo.fragment_identifier }}:target + div#container-{{ photo.fragment_identifier }}
					{
						display: block; # shows the container
					}

				{% endfor %}
			{% endif %}
		</style>
	</head>

	<body>
		<div id="slideshow">

			<ul class="slider">
				<li class="slides" >
					{% if filestype == "photo" %}
						{% for photo in files %}
							<a id="{{ photo.fragment_identifier }}" class="cap"></a>

							<div id="container-{{ photo.fragment_identifier }}">

								<div id="slide-{{ photo.fragment_identifier }}">
									<img id="{{ photo.fragment_identifier }}" src="{{ STATIC }}frontend/{{ photo.staticfilepath }}" alt=""/>
								</div>

								<div id="details">
									<ul>
										<li>
											Title: {{ photo.title }}
										</li>
										<li>
											Author: {{ photo.author }}
										</li>
										<li>
											Category: {{ photo.category }}
										</li>
										<li>
											Description: {{ photo.description }}
										</li>
										<li>
											Date: {{ photo.date_created }}
										</li>
									</ul>
								</div>

							</div>
						{% endfor %}
					{% endif %}
				</li>

				<li class="track">
					{% if filestype == "photo" %}
						{% for photo in files %}
							<a href="#{{ photo.fragment_identifier }}" class="tr{{ forloop.counter }}"></a>
						{% endfor %}
					{% endif %}
				</li>
			</ul>

		</div>

		<div id="return">
			<a href="{{ previous_location }}">
				<img  src="{{ STATIC }}frontend/img/logo/back-arrow-white.png"/>
			</a>
		</div>
	</body>
</html>