/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
	#content
	{
		height: auto;
		width: auto;
		padding: 2em;
		overflow: hidden;
	}

		#content #article, #side-menu
		{
			background: #282828;
			text-align: left;
		}

/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/
	#content #article
	{
		height: 100em;
		width: 70%;

		float: left;
		margin-top: 1em;

		overflow: auto;

		-moz-transition: all 0.6s;
		-webkit-transition: all 0.6s;
		transition: all 0.6s;
		-o-transition: all 0.6s;
		-ms-transition: all 0.6s;
	}
		#content #article:hover
		{
			box-shadow: 0 0 10px white;
		}

		#article h1.header 
		{
			font-size: 3em;
			margin: 1em 5% 0em;
		}

		#article p.footer
		{
			margin: 6em 6% 3em; 
		}

		#article h1, #article h2, #article h3,
		#article h4, #article h5, #article h6, ol
		{
			margin: 2em 5% 1em;
		}

		#article h1 
		{
			font-size: 2.6em;
		}
		
		#article h2 
		{
			font-size: 2.2em;
		}

		#article h3
		{
			font-size: 2em;
		}

		a
		{
			color: #98AFC7;

			-moz-transition: text-shadow 0.3s;
			-webkit-transition: text-shadow 0.3s;
			transition: text-shadow 0.3s;
			-o-transition: text-shadow 0.3s;
			-ms-transition: text-shadow 0.3s;
		}
			a:hover
			{
				text-shadow: 0 0 10px;
			}

		img
		{
			width: 100%;
		}

		strong, em
		{
			color: #E18B6B;
		}

		p 
		{
			font-size: 1em;
			text-align: justify;
			margin: 1.5em 5.3%;
		}

		pre
		{
			padding: 2em;
			overflow: auto;
			background: #565051;
			box-shadow: 0 0 4px white;
			margin: 0em 5%;
		}

			pre code
			{
			}

		ol li p,
		ol li pre
		{
			margin: 1.5em 0em;
		}

		table
		{
			border: 1px solid white;
			margin: 1.5em 0;
		}

			table th, table td
			{
				padding: 1em;
			}

/*********************************************************************************/
/* side-menu                                                                     */
/*********************************************************************************/
	#content #side-menu
	{
		width: 25%;
		height: auto;
		float: right;
		margin: 1em;
	}

		#side-menu ul
		{
			width: 100%;
			height: auto;

			/* Removes bullets & spacing */
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

			#side-menu ul li
			{
				width: 100%;
				height: auto;

				border-top: 1px solid;
				border-color: rgba(255,255,255,.1);

				padding: 1em 0;

				-moz-transition: box-shadow 1s;
				-webkit-transition: box-shadow 1s;
				transition: box-shadow 1s;
				-o-transition: box-shadow 1s;
				-ms-transition: box-shadow 1s;					
			}
				#side-menu ul li:hover
				{
					box-shadow: 0 0 10px white;
				}

			#side-menu ul li:first-child
			{
				border-top: none;
				margin-bottom: 1em;
				padding: 0;
			}
				#side-menu ul li:first-child:hover
				{
					box-shadow: none;
				}

		#side-menu header
		{
			font-size: 1.4em;
			margin: 1em 1em;
		}

		#side-menu a
		{
			display: block;
			width: 100%;
			height: 100%;
			
			font-size: 1em;
			color: #B6B6B4;
			text-shadow: none;
			
			margin: 0 1.5em;
		}
