
    #side-computer
    {
        position: absolute;
        height: auto;
        width: 100%;
        right 0;
        margin-top: -8em;
        padding: 0;
    }

        #side-computer #right-box
        {
            height: 100%;
            width: 15em;
            float: right;
        }

            div#side-computer #right-box img
            {
                height: 100%;
                width: 100%;
            }

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
    #featured
    {
        position: relative;
        background: #1E1E1E;
        text-align: center;
        line-height: 3em;
        margin: 8em 15em;
    }

/*********************************************************************************/
/* Coding                                                                        */
/*********************************************************************************/
    section#coding
    {
        margin-bottom: 4em;
    }

    section#coding #circle
    {
        width: 25em;
        height: 25em;
        border-radius: 15em;
        -webkit-border-radius: 15em;
        -moz-border-radius: 15em;

        background-image: url('/static/frontend/img/wallpapers/bits_cloud_bw.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;

        overflow: hidden;
        margin: 0 auto;

        transition: box-shadow 1s;
        -moz-transition: box-shadow 1s;
        -webkit-transition: box-shadow 1s;
        -o-transition: box-shadow 1s;
        -ms-transition: box-shadow 1s;
    }
        section#coding #circle:hover
        {
            box-shadow: 0 0 20px white;
        }

    @media all and (max-width: 1100px)
    {
        section#coding #circle
        {
            background-attachment: initial;
        }
    }

    section#coding a
    {
        transition: text-shadow 1s;
        -moz-transition: text-shadow 1s;
        -webkit-transition: text-shadow 1s;
        -o-transition: text-shadow 1s;
        -ms-transition: text-shadow 1s;
    }
        section#coding a:hover
        {
            text-shadow: 0 0 10px white;
        }

    section#coding p
    {
        font-size: 2em;
        text-align: center;
        color: #C8C8C8 ;
        margin: 2em 0 4em;
    }

/*********************************************************************************/
/* Abilities                                                                     */
/*********************************************************************************/
    #abilities
    {
        height: auto;
        width: auto;
        margin-left: 3em;
    }

        #main section > header
        {
            width: 100%;
            margin: 1em 0em 1em;
        }

        #main section > hr.head
        {
            padding-top: 0em;
        }

        #main section > hr.tail
        {
            margin-top: 0em;
            padding-top: 0em;
        }

            #abilities > header
            {
                width: 100%;

                font-size: 1.2em;
                text-align: left;
                color: #FDEEF4;

                cursor: default;
                margin-bottom: 1.5em
            }

            #abilities-row
            {
                height: auto;
                width: auto;

                font-size: 1.5em;

                margin: 0 1.5em;
                overflow: hidden; /no-sense
            }

                #left-ability, #right-ability
                {
                    font-size: 0.7em;

                    width: 43%;
                    color: #B9AFA8;
                    cursor: default;
                    margin: 0 0.3em;
                    
                    -moz-transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                    -o-transition: all 0.5s;
                    -ms-transition: all 0.5s;
                }

                #left-ability
                {
                    float: left;
                }
                
                #right-ability
                {
                    float: right;
                }

                    #left-ability:hover, #right-ability:hover
                    {
                        text-shadow: 0 0 10px white;   
                    }

                    #title
                    {
                        float: left;
                    }

                    #rating
                    {
                        float: right;
                    }

