/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
    body
    {
        height: 100%;
        background: #E8E8E6;
    }

    #main
    {
        margin: 1.5em 0em;
    }

    #header
    {
        margin-bottom: 0em;
    }

/*********************************************************************************/
/* Photos                                                                        */
/*********************************************************************************/
    #categories
    {
        background: #E8E8E6;
    }
            #categories section header
            {
                font-size: 2.5em;
                margin: 0.4em 0em 0.8em 0em;
            }

            #categories section hr
            {
                border-top: solid 1px #777777;
                margin: 0em 15em;
            }
