    ul.slider
    {
        list-style: none;
        margin: 0 auto;
        width: 100%;
    }

    ul.slider li
    {
        float:left;

        transition: 1s;
    }

    ul.slider li.slides
    {
        position: relative;

        height: 33em;
        width: 80em;

        overflow: hidden;
        border: 1px solid #888888;

        background: black;
    }

    /* hidding images behind */
    ul.slider li.slides > img
    {
        display: block;
        opacity: 0; 
        position: absolute;

        transition: 1s;
    }


    ul.slider li.track
    {
        background-color: red;

        clear: left;

        height: auto;
        width: 100%;

        position: relative;
        text-align: center;
        z-index: 20;
    }

    ul.slider li.track a
    {
        display:inline-block;
        height: 15px;
        width: 15px;
        border-radius: 10px;

        background-color: #fff;


        margin: 0.5em;

        box-shadow: 2px 1px 1px #000000;

    }

        ul.slider li.track a:hover
        {
            background-color: #0f0;
        }
