
#main
{
    position: absolute;
    width: 100%;
    height: 100%;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    overflow-y: scroll;

    color: white;
    background: #1E1E1E;
}

    #main p, #main img, #main div.images
    {
        margin: 2em 2%;
    }

    #main div.images
    {
        width: 90%;
        margin-top: 0;
    }

        #main img
        {
            width: 30%;
            margin: 2em 0.5% 0 0;
        }

    #main p.header
    {
        font-size: 1.5em;
        margin: 2em 2% 0;
    }

    #main p
    {
        text-align: justify;
    }

    #main p.footer
    {
        float: right;
        margin-top: 0;
    }