{% extends "generic/base-head.html" %}
{% block content %}
        <meta name="keywords" content="3D CSS Cube Animation Computation Arts">

        <link rel="stylesheet" type="text/css" href="{{ STATIC }}projects/cart/3Dcube/3Dcube.css">
        <script type="text/javascript" src="{{ STATIC }}projects/cart/3Dcube/3Dcube.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
        
        <!-- sweetalert -->
        <script src="{{ STATIC }}projects/libs/sweetalert.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC }}projects/libs/sweetalert.css">
        <script type="text/javascript">
            function information()
            {
                swal({
                    title: "",
                    text: "1. Rotate the 3D Cube.</br>2. Click on available classes.</br></br>Created by Seva Ivanov.</br>Source Code: <a href='https://github.com/sevaivanov/personal-website/blob/master/projects/templates/cart/3Dcube/3Dcube.html'>html</a> & <a href='https://github.com/sevaivanov/personal-website/blob/master/projects/static/projects/cart/3Dcube/3Dcube.css'>css</a>.",
                    html: true
                });
            }
        </script>
    </head>
    <base>
        <div id="container">
            <img id="info" src="{{ STATIC }}projects/cart/3Dcube/images/logos/cirlced-question-300x300-white.png"
                onclick="information();"/>
            <div id="cube">
                <figure class="top with-content" onclick="location.href='/project/cart/211/211/'">
                    <p>CART 211:<br/>Creative Computation & Network Culture</p>
                </figure>
                <figure class="right"></figure>
                <figure class="bottom with-content" onclick="location.href='/project/cart/214/214/'">
                    <p>CART 214:<br/>Visual Form & Communication</p>
                </figure>
                <figure class="left"></figure>
                <figure class="front"><p>Hello.</br></br>Rotate Me!</p></figure>
                <figure class="back"></figure>
            </div>
            <div id="buttons">
                <a href="javascript:changeCubeClass('show-left');"><p>Left</p></a>
                <a href="javascript:changeCubeClass('show-top');"><p>Top</p></a>
                <a href="javascript:changeCubeClass('show-front');"><p>Front</p></a>
                <a href="javascript:changeCubeClass('show-back');"><p>Back</p></a>
                <a href="javascript:changeCubeClass('show-bottom');"><p>Bottom</p></a>
                <a href="javascript:changeCubeClass('show-right');"><p>Right</p></a>
            </div>
        </div>
    </base>
{% endblock %}
